In [1]:
from flask import Flask, render_template, jsonify
import pandas as pd
from sqlalchemy import create_engine, func
import os
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from datetime import datetime as dt

In [2]:
engine_sqlite = create_engine('sqlite:///teen_births.sqlite')

In [10]:
session = Session(engine_sqlite)

In [29]:
df=pd.read_sql("select * from birth_rates", engine_sqlite)
df

,year,state,age_group,state_rate,state_births,us_births,us_birth_rate,unit
0,1990,Alabama,15-17 years,47.4,"4,222","183,327",37.5,"per 1,000"
1,1990,Alaska,15-17 years,31.2,335,"183,327",37.5,"per 1,000"
2,1990,Arizona,15-17 years,47.7,"3,436","183,327",37.5,"per 1,000"
3,1990,Arkansas,15-17 years,50.4,"2,549","183,327",37.5,"per 1,000"
4,1990,California,15-17 years,44.6,"24,880","183,327",37.5,"per 1,000"
...,...,...,...,...,...,...,...,...
4675,2019,Virginia,18-19 years,25.1,"2,800","130,593",31.1,"per 1,000"
4676,2019,Washington,18-19 years,25.4,"2,189","130,593",31.1,"per 1,000"
4677,2019,West Virginia,18-19 years,49.3,"1,009","130,593",31.1,"per 1,000"
4678,2019,Wisconsin,18-19 years,24.0,"1,835","130,593",31.1,"per 1,000"
4679,2019,Wyoming,18-19 years,39.2,268,"130,593",31.1,"per 1,000"

In [37]:
df[(df.year == 1990) & (df.state == "Alaska")]

,year,state,age_group,state_rate,state_births,us_births,us_birth_rate,unit
1,1990,Alaska,15-17 years,31.2,335,"183,327",37.5,"per 1,000"
1353,1990,Alaska,15-19 years,65.3,"1,142","521,826",59.9,"per 1,000"
2705,1990,Alaska,18-19 years,120.0,807,"338,499",88.6,"per 1,000"

In [49]:
df.groupby(["state"]).mean()

                        year  state_rate  us_birth_rate
state
Alabama               2004.5   54.233333      43.438889
Alaska                2004.5   48.153333      43.438889
Arizona               2004.5   58.157778      43.438889
Arkansas              2004.5   62.330000      43.438889
California            2004.5   45.073333      43.438889
Colorado              2004.5   42.263333      43.438889
Connecticut           2004.5   26.430000      43.438889
Delaware              2004.5   40.873333      43.438889
District of Columbia  2004.5   54.276667      43.438889
Florida               2004.5   45.516667      43.438889
Georgia               2004.5   54.200000      43.438889
Hawaii                2004.5   41.691111      43.438889
Idaho                 2004.5   39.531111      43.438889
Illinois              2004.5   43.558889      43.438889
Indiana               2004.5   45.258889      43.438889
Iowa                  2004.5   32.162222      43.438889
Kansas                2004.5   43.837778      43.438889
Kentucky              2004.5   53.230000      43.438889
Louisiana             2004.5   57.592222      43.438889
Maine                 2004.5   28.040000      43.438889
Maryland              2004.5   36.205556      43.438889
Massachusetts         2004.5   22.896667      43.438889
Michigan              2004.5   37.998889      43.438889
Minnesota             2004.5   27.348889      43.438889
Mississippi           2004.5   63.768889      43.438889
Missouri              2004.5   45.904444      43.438889
Montana               2004.5   37.811111      43.438889
Nebraska              2004.5   34.747778      43.438889
Nevada                2004.5   55.502222      43.438889
New Hampshire         2004.5   21.428889      43.438889
New Jersey            2004.5   28.183333      43.438889
New Mexico            2004.5   62.320000      43.438889
New York              2004.5   30.112222      43.438889
North Carolina        2004.5   49.064444      43.438889
North Dakota          2004.5   28.767778      43.438889
Ohio                  2004.5   42.666667      43.438889
Oklahoma              2004.5   57.391111      43.438889
Oregon                2004.5   38.063333      43.438889
Pennsylvania          2004.5   31.878889      43.438889
Rhode Island          2004.5   29.338889      43.438889
South Carolina        2004.5   50.885556      43.438889
South Dakota          2004.5   38.944444      43.438889
Tennessee             2004.5   54.792222      43.438889
Texas                 2004.5   62.117778      43.438889
Total U.S.            2004.5   43.438889      43.438889
Utah                  2004.5   33.750000      43.438889
Vermont               2004.5   22.554444      43.438889
Virginia              2004.5   36.262222      43.438889
Washington            2004.5   36.151111      43.438889
West Virginia         2004.5   47.515556      43.438889
Wisconsin             2004.5   31.528889      43.438889
Wyoming               2004.5   44.233333      43.438889

In [51]:
df.dtypes

year               int64
state             object
age_group         object
state_rate       float64
state_births      object
us_births         object
us_birth_rate    float64
unit              object
dtype: object

In [4]:
base = automap_base()
base

sqlalchemy.ext.automap.Base

In [5]:
base.prepare(engine_sqlite, reflect=True)

In [6]:
mapped_classes = base.metadata.tables.keys()
mapped_classes

dict_keys(['birth_rates'])

In [8]:
birth_rates = base.metadata.tables['birth_rates']
birth_rates

Table('birth_rates', MetaData(), Column('year', BIGINT(), table=<birth_rates>), Column('state', TEXT(), table=<birth_rates>), Column('age_group', TEXT(), table=<birth_rates>), Column('state_rate', FLOAT(), table=<birth_rates>), Column('state_births', TEXT(), table=<birth_rates>), Column('us_births', TEXT(), table=<birth_rates>), Column('us_birth_rate', FLOAT(), table=<birth_rates>), Column('unit', TEXT(), table=<birth_rates>), schema=None)

In [15]:
results = session.query(birth_rates.columns.state_rate, birth_rates.columns.state).\
    filter(birth_rates.columns.year == "1990").all()
results

[(47.4, 'Alabama'),
 (31.2, 'Alaska'),
 (47.7, 'Arizona'),
 (50.4, 'Arkansas'),
 (44.6, 'California'),
 (33.1, 'Colorado'),
 (26.4, 'Connecticut'),
 (38.4, 'Delaware'),
 (88.4, 'District of Columbia'),
 (44.9, 'Florida'),
 (50.1, 'Georgia'),
 (32.5, 'Hawaii'),
 (26.3, 'Idaho'),
 (40.1, 'Illinois'),
 (35.3, 'Indiana'),
 (20.4, 'Iowa'),
 (30.4, 'Kansas'),
 (40.8, 'Kentucky'),
 (49.5, 'Louisiana'),
 (23.3, 'Maine'),
 (33.5, 'Maryland'),
 (23.7, 'Massachusetts'),
 (36.0, 'Michigan'),
 (19.9, 'Minnesota'),
 (57.5, 'Mississippi'),
 (39.3, 'Missouri'),
 (24.0, 'Montana'),
 (23.0, 'Nebraska'),
 (42.5, 'Nevada'),
 (17.1, 'New Hampshire'),
 (24.4, 'New Jersey'),
 (46.9, 'New Mexico'),
 (27.5, 'New York'),
 (44.9, 'North Carolina'),
 (15.6, 'North Dakota'),
 (34.3, 'Ohio'),
 (38.8, 'Oklahoma'),
 (30.7, 'Oregon'),
 (28.4, 'Pennsylvania'),
 (31.6, 'Rhode Island'),
 (47.0, 'South Carolina'),
 (23.9, 'South Dakota'),
 (45.0, 'Tennessee'),
 (48.0, 'Texas'),
 (37.5, 'Total U.S.'),
 (26.3, 'Utah'),
 (19.5, 'Vermont'),
 (32.1, 'Virginia'),
 (29.6, 'Washington'),
 (33.0, 'West Virginia'),
 (24.2, 'Wisconsin'),
 (29.7, 'Wyoming'),
 (71.0, 'Alabama'),
 (65.3, 'Alaska'),
 (75.5, 'Arizona'),
 (80.1, 'Arkansas'),
 (70.6, 'California'),
 (54.5, 'Colorado'),
 (38.8, 'Connecticut'),
 (54.5, 'Delaware'),
 (93.1, 'District of Columbia'),
 (69.1, 'Florida'),
 (75.5, 'Georgia'),
 (61.2, 'Hawaii'),
 (50.6, 'Idaho'),
 (62.9, 'Illinois'),
 (58.6, 'Indiana'),
 (40.5, 'Iowa'),
 (56.1, 'Kansas'),
 (67.6, 'Kentucky'),
 (74.2, 'Louisiana'),
 (43.0, 'Maine'),
 (53.2, 'Maryland'),
 (35.1, 'Massachusetts'),
 (59.0, 'Michigan'),
 (36.3, 'Minnesota'),
 (81.0, 'Mississippi'),
 (62.8, 'Missouri'),
 (48.4, 'Montana'),
 (42.3, 'Nebraska'),
 (73.3, 'Nevada'),
 (33.0, 'New Hampshire'),
 (40.5, 'New Jersey'),
 (78.2, 'New Mexico'),
 (43.6, 'New York'),
 (67.6, 'North Carolina'),
 (35.4, 'North Dakota'),
 (57.9, 'Ohio'),
 (66.8, 'Oklahoma'),
 (54.6, 'Oregon'),
 (44.9, 'Pennsylvania'),
 (43.9, 'Rhode Island'),
 (71.3, 'South Carolina'),
 (46.8, 'South Dakota'),
 (72.3, 'Tennessee'),
 (75.3, 'Texas'),
 (59.9, 'Total U.S.'),
 (48.5, 'Utah'),
 (34.0, 'Vermont'),
 (52.9, 'Virginia'),
 (53.1, 'Washington'),
 (57.3, 'West Virginia'),
 (42.6, 'Wisconsin'),
 (56.3, 'Wyoming'),
 (101.4, 'Alabama'),
 (120.0, 'Alaska'),
 (111.6, 'Arizona'),
 (120.7, 'Arkansas'),
 (104.3, 'California'),
 (82.9, 'Colorado'),
 (53.9, 'Connecticut'),
 (71.4, 'Delaware'),
 (96.7, 'District of Columbia'),
 (100.6, 'Florida'),
 (108.5, 'Georgia'),
 (102.0, 'Hawaii'),
 (84.8, 'Idaho'),
 (93.3, 'Illinois'),
 (87.8, 'Indiana'),
 (65.7, 'Iowa'),
 (89.9, 'Kansas'),
 (103.0, 'Kentucky'),
 (106.9, 'Louisiana'),
 (68.8, 'Maine'),
 (78.4, 'Maryland'),
 (47.0, 'Massachusetts'),
 (88.8, 'Michigan'),
 (57.6, 'Minnesota'),
 (111.0, 'Mississippi'),
 (93.0, 'Missouri'),
 (85.8, 'Montana'),
 (68.0, 'Nebraska'),
 (115.1, 'Nevada'),
 (51.3, 'New Hampshire'),
 (62.4, 'New Jersey'),
 (124.2, 'New Mexico'),
 (63.4, 'New York'),
 (94.4, 'North Carolina'),
 (62.3, 'North Dakota'),
 (88.1, 'Ohio'),
 (104.3, 'Oklahoma'),
 (87.9, 'Oregon'),
 (64.9, 'Pennsylvania'),
 (55.7, 'Rhode Island'),
 (101.4, 'South Carolina'),
 (78.7, 'South Dakota'),
 (107.3, 'Tennessee'),
 (112.2, 'Texas'),
 (88.6, 'Total U.S.'),
 (78.7, 'Utah'),
 (49.6, 'Vermont'),
 (77.7, 'Virginia'),
 (84.4, 'Washington'),
 (89.9, 'West Virginia'),
 (66.1, 'Wisconsin'),
 (98.1, 'Wyoming')]

In [13]:
help(session.query(birth_rates.columns.state_rate).filter())

Help on Query in module sqlalchemy.orm.query object:

class Query(sqlalchemy.sql.selectable._SelectFromElements, sqlalchemy.sql.annotation.SupportsCloneAnnotations, sqlalchemy.sql.selectable.HasPrefixes, sqlalchemy.sql.selectable.HasSuffixes, sqlalchemy.sql.selectable.HasHints, sqlalchemy.sql.base.Executable)
 |  Query(entities, session=None)
 |
 |  ORM-level SQL construction object.
 |
 |  :class:`_query.Query`
 |  is the source of all SELECT statements generated by the
 |  ORM, both those formulated by end-user query operations as well as by
 |  high level internal operations such as related collection loading.  It
 |  features a generative interface whereby successive calls return a new
 |  :class:`_query.Query` object, a copy of the former with additional
 |  criteria and options associated with it.
 |
 |  :class:`_query.Query` objects are normally initially generated using the
 |  :meth:`~.Session.query` method of :class:`.Session`, and in
 |  less common cases by instantiating the :class:`_query.Query` directly and
 |  associating with a :class:`.Session` using the
 |  :meth:`_query.Query.with_session`
 |  method.
 |
 |  For a full walk through of :class:`_query.Query` usage, see the
 |  :ref:`ormtutorial_toplevel`.
 |
 |  Method resolution order:
 |      Query
 |      sqlalchemy.sql.selectable._SelectFromElements
 |      sqlalchemy.sql.annotation.SupportsCloneAnnotations
 |      sqlalchemy.sql.annotation.SupportsAnnotations
 |      sqlalchemy.sql.selectable.HasPrefixes
 |      sqlalchemy.sql.selectable.HasSuffixes
 |      sqlalchemy.sql.selectable.HasHints
 |      sqlalchemy.sql.base.Executable
 |      sqlalchemy.sql.roles.StatementRole
 |      sqlalchemy.sql.roles.SQLRole
 |      sqlalchemy.sql.base.Generative
 |      sqlalchemy.util.langhelpers.HasMemoized
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __clause_element__(self)
 |
 |  __getitem__(self, item)
 |
 |  __init__(self, entities, session=None)
 |      Construct a :class:`_query.Query` directly.
 |
 |      E.g.::
 |
 |          q = Query([User, Address], session=some_session)
 |
 |      The above is equivalent to::
 |
 |          q = some_session.query(User, Address)
 |
 |      :param entities: a sequence of entities and/or SQL expressions.
 |
 |      :param session: a :class:`.Session` with which the
 |       :class:`_query.Query`
 |       will be associated.   Optional; a :class:`_query.Query`
 |       can be associated
 |       with a :class:`.Session` generatively via the
 |       :meth:`_query.Query.with_session` method as well.
 |
 |      .. seealso::
 |
 |          :meth:`.Session.query`
 |
 |          :meth:`_query.Query.with_session`
 |
 |  __iter__(self)
 |
 |  __str__(self)
 |      Return str(self).
 |
 |  add_column(self, column)
 |      Add a column expression to the list of result columns to be
 |      returned.
 |
 |      .. deprecated:: 1.4 :meth:`_query.Query.add_column` is deprecated and will be removed in a future release.  Please use :meth:`_query.Query.add_columns`
 |
 |  add_columns(self, *column)
 |      Add one or more column expressions to the list
 |      of result columns to be returned.
 |
 |  add_entity(self, entity, alias=None)
 |      add a mapped entity to the list of result columns
 |      to be returned.
 |
 |  all(self)
 |      Return the results represented by this :class:`_query.Query`
 |      as a list.
 |
 |      This results in an execution of the underlying SQL statement.
 |
 |      .. warning::  The :class:`_query.Query` object,
 |         when asked to return either
 |         a sequence or iterator that consists of full ORM-mapped entities,
 |         will **deduplicate entries based on primary key**.  See the FAQ for
 |         more details.
 |
 |          .. seealso::
 |
 |              :ref:`faq_query_deduplicating`
 |
 |  apply_labels = with_labels(self)
 |
 |  as_scalar(self)
 |      Return the full SELECT statement represented by this
 |      :class:`_query.Query`, converted to a scalar subquery.
 |
 |      .. deprecated:: 1.4 The :meth:`_query.Query.as_scalar` method is deprecated and will be removed in a future release.  Please refer to :meth:`_query.Query.scalar_subquery`.
 |
 |  autoflush(self, setting)
 |      Return a Query with a specific 'autoflush' setting.
 |
 |      As of SQLAlchemy 1.4, the :meth:`_orm.Query.autoflush` method
 |      is equivalent to using the ``autoflush`` execution option at the
 |      ORM level. See the section :ref:`orm_queryguide_autoflush` for
 |      further background on this option.
 |
 |  correlate(self, *fromclauses)
 |      Return a :class:`.Query` construct which will correlate the given
 |      FROM clauses to that of an enclosing :class:`.Query` or
 |      :func:`~.expression.select`.
 |
 |      The method here accepts mapped classes, :func:`.aliased` constructs,
 |      and :func:`.mapper` constructs as arguments, which are resolved into
 |      expression constructs, in addition to appropriate expression
 |      constructs.
 |
 |      The correlation arguments are ultimately passed to
 |      :meth:`_expression.Select.correlate`
 |      after coercion to expression constructs.
 |
 |      The correlation arguments take effect in such cases
 |      as when :meth:`_query.Query.from_self` is used, or when
 |      a subquery as returned by :meth:`_query.Query.subquery` is
 |      embedded in another :func:`_expression.select` construct.
 |
 |  count(self)
 |      Return a count of rows this the SQL formed by this :class:`Query`
 |      would return.
 |
 |      This generates the SQL for this Query as follows::
 |
 |          SELECT count(1) AS count_1 FROM (
 |              SELECT <rest of query follows...>
 |          ) AS anon_1
 |
 |      The above SQL returns a single row, which is the aggregate value
 |      of the count function; the :meth:`_query.Query.count`
 |      method then returns
 |      that single integer value.
 |
 |      .. warning::
 |
 |          It is important to note that the value returned by
 |          count() is **not the same as the number of ORM objects that this
 |          Query would return from a method such as the .all() method**.
 |          The :class:`_query.Query` object,
 |          when asked to return full entities,
 |          will **deduplicate entries based on primary key**, meaning if the
 |          same primary key value would appear in the results more than once,
 |          only one object of that primary key would be present.  This does
 |          not apply to a query that is against individual columns.
 |
 |          .. seealso::
 |
 |              :ref:`faq_query_deduplicating`
 |
 |              :ref:`orm_tutorial_query_returning`
 |
 |      For fine grained control over specific columns to count, to skip the
 |      usage of a subquery or otherwise control of the FROM clause, or to use
 |      other aggregate functions, use :attr:`~sqlalchemy.sql.expression.func`
 |      expressions in conjunction with :meth:`~.Session.query`, i.e.::
 |
 |          from sqlalchemy import func
 |
 |          # count User records, without
 |          # using a subquery.
 |          session.query(func.count(User.id))
 |
 |          # return count of user "id" grouped
 |          # by "name"
 |          session.query(func.count(User.id)).\
 |                  group_by(User.name)
 |
 |          from sqlalchemy import distinct
 |
 |          # count distinct "name" values
 |          session.query(func.count(distinct(User.name)))
 |
 |  cte(self, name=None, recursive=False, nesting=False)
 |      Return the full SELECT statement represented by this
 |      :class:`_query.Query` represented as a common table expression (CTE).
 |
 |      Parameters and usage are the same as those of the
 |      :meth:`_expression.SelectBase.cte` method; see that method for
 |      further details.
 |
 |      Here is the `PostgreSQL WITH
 |      RECURSIVE example
 |      <https://www.postgresql.org/docs/current/static/queries-with.html>`_.
 |      Note that, in this example, the ``included_parts`` cte and the
 |      ``incl_alias`` alias of it are Core selectables, which
 |      means the columns are accessed via the ``.c.`` attribute.  The
 |      ``parts_alias`` object is an :func:`_orm.aliased` instance of the
 |      ``Part`` entity, so column-mapped attributes are available
 |      directly::
 |
 |          from sqlalchemy.orm import aliased
 |
 |          class Part(Base):
 |              __tablename__ = 'part'
 |              part = Column(String, primary_key=True)
 |              sub_part = Column(String, primary_key=True)
 |              quantity = Column(Integer)
 |
 |          included_parts = session.query(
 |                          Part.sub_part,
 |                          Part.part,
 |                          Part.quantity).\
 |                              filter(Part.part=="our part").\
 |                              cte(name="included_parts", recursive=True)
 |
 |          incl_alias = aliased(included_parts, name="pr")
 |          parts_alias = aliased(Part, name="p")
 |          included_parts = included_parts.union_all(
 |              session.query(
 |                  parts_alias.sub_part,
 |                  parts_alias.part,
 |                  parts_alias.quantity).\
 |                      filter(parts_alias.part==incl_alias.c.sub_part)
 |              )
 |
 |          q = session.query(
 |                  included_parts.c.sub_part,
 |                  func.sum(included_parts.c.quantity).
 |                      label('total_quantity')
 |              ).\
 |              group_by(included_parts.c.sub_part)
 |
 |      .. seealso::
 |
 |          :meth:`_expression.HasCTE.cte`
 |
 |  delete(self, synchronize_session='evaluate')
 |      Perform a DELETE with an arbitrary WHERE clause.
 |
 |      Deletes rows matched by this query from the database.
 |
 |      E.g.::
 |
 |          sess.query(User).filter(User.age == 25).\
 |              delete(synchronize_session=False)
 |
 |          sess.query(User).filter(User.age == 25).\
 |              delete(synchronize_session='evaluate')
 |
 |      .. warning::
 |
 |          See the section :ref:`orm_expression_update_delete` for important
 |          caveats and warnings, including limitations when using bulk UPDATE
 |          and DELETE with mapper inheritance configurations.
 |
 |      :param synchronize_session: chooses the strategy to update the
 |       attributes on objects in the session.   See the section
 |       :ref:`orm_expression_update_delete` for a discussion of these
 |       strategies.
 |
 |      :return: the count of rows matched as returned by the database's
 |        "row count" feature.
 |
 |      .. seealso::
 |
 |          :ref:`orm_expression_update_delete`
 |
 |  distinct(self, *expr)
 |      Apply a ``DISTINCT`` to the query and return the newly resulting
 |      ``Query``.
 |
 |
 |      .. note::
 |
 |          The ORM-level :meth:`.distinct` call includes logic that will
 |          automatically add columns from the ORDER BY of the query to the
 |          columns clause of the SELECT statement, to satisfy the common need
 |          of the database backend that ORDER BY columns be part of the SELECT
 |          list when DISTINCT is used.   These columns *are not* added to the
 |          list of columns actually fetched by the :class:`_query.Query`,
 |          however,
 |          so would not affect results. The columns are passed through when
 |          using the :attr:`_query.Query.statement` accessor, however.
 |
 |          .. deprecated:: 2.0  This logic is deprecated and will be removed
 |             in SQLAlchemy 2.0.     See :ref:`migration_20_query_distinct`
 |             for a description of this use case in 2.0.
 |
 |      :param \*expr: optional column expressions.  When present,
 |       the PostgreSQL dialect will render a ``DISTINCT ON (<expressions>)``
 |       construct.
 |
 |       .. deprecated:: 1.4 Using \*expr in other dialects is deprecated
 |          and will raise :class:`_exc.CompileError` in a future version.
 |
 |  enable_assertions(self, value)
 |      Control whether assertions are generated.
 |
 |      When set to False, the returned Query will
 |      not assert its state before certain operations,
 |      including that LIMIT/OFFSET has not been applied
 |      when filter() is called, no criterion exists
 |      when get() is called, and no "from_statement()"
 |      exists when filter()/order_by()/group_by() etc.
 |      is called.  This more permissive mode is used by
 |      custom Query subclasses to specify criterion or
 |      other modifiers outside of the usual usage patterns.
 |
 |      Care should be taken to ensure that the usage
 |      pattern is even possible.  A statement applied
 |      by from_statement() will override any criterion
 |      set by filter() or order_by(), for example.
 |
 |  enable_eagerloads(self, value)
 |      Control whether or not eager joins and subqueries are
 |      rendered.
 |
 |      When set to False, the returned Query will not render
 |      eager joins regardless of :func:`~sqlalchemy.orm.joinedload`,
 |      :func:`~sqlalchemy.orm.subqueryload` options
 |      or mapper-level ``lazy='joined'``/``lazy='subquery'``
 |      configurations.
 |
 |      This is used primarily when nesting the Query's
 |      statement into a subquery or other
 |      selectable, or when using :meth:`_query.Query.yield_per`.
 |
 |  except_(self, *q)
 |      Produce an EXCEPT of this Query against one or more queries.
 |
 |      Works the same way as :meth:`~sqlalchemy.orm.query.Query.union`. See
 |      that method for usage examples.
 |
 |  except_all(self, *q)
 |      Produce an EXCEPT ALL of this Query against one or more queries.
 |
 |      Works the same way as :meth:`~sqlalchemy.orm.query.Query.union`. See
 |      that method for usage examples.
 |
 |  execution_options(self, **kwargs)
 |      Set non-SQL options which take effect during execution.
 |
 |      Options allowed here include all of those accepted by
 |      :meth:`_engine.Connection.execution_options`, as well as a series
 |      of ORM specific options:
 |
 |      ``populate_existing=True`` - equivalent to using
 |      :meth:`_orm.Query.populate_existing`
 |
 |      ``autoflush=True|False`` - equivalent to using
 |      :meth:`_orm.Query.autoflush`
 |
 |      ``yield_per=<value>`` - equivalent to using
 |      :meth:`_orm.Query.yield_per`
 |
 |      Note that the ``stream_results`` execution option is enabled
 |      automatically if the :meth:`~sqlalchemy.orm.query.Query.yield_per()`
 |      method or execution option is used.
 |
 |      .. versionadded:: 1.4 - added ORM options to
 |         :meth:`_orm.Query.execution_options`
 |
 |      The execution options may also be specified on a per execution basis
 |      when using :term:`2.0 style` queries via the
 |      :paramref:`_orm.Session.execution_options` parameter.
 |
 |      .. warning:: The
 |         :paramref:`_engine.Connection.execution_options.stream_results`
 |         parameter should not be used at the level of individual ORM
 |         statement executions, as the :class:`_orm.Session` will not track
 |         objects from different schema translate maps within a single
 |         session.  For multiple schema translate maps within the scope of a
 |         single :class:`_orm.Session`, see :ref:`examples_sharding`.
 |
 |
 |      .. seealso::
 |
 |          :ref:`engine_stream_results`
 |
 |          :meth:`_query.Query.get_execution_options`
 |
 |  exists(self)
 |      A convenience method that turns a query into an EXISTS subquery
 |      of the form EXISTS (SELECT 1 FROM ... WHERE ...).
 |
 |      e.g.::
 |
 |          q = session.query(User).filter(User.name == 'fred')
 |          session.query(q.exists())
 |
 |      Producing SQL similar to::
 |
 |          SELECT EXISTS (
 |              SELECT 1 FROM users WHERE users.name = :name_1
 |          ) AS anon_1
 |
 |      The EXISTS construct is usually used in the WHERE clause::
 |
 |          session.query(User.id).filter(q.exists()).scalar()
 |
 |      Note that some databases such as SQL Server don't allow an
 |      EXISTS expression to be present in the columns clause of a
 |      SELECT.    To select a simple boolean value based on the exists
 |      as a WHERE, use :func:`.literal`::
 |
 |          from sqlalchemy import literal
 |
 |          session.query(literal(True)).filter(q.exists()).scalar()
 |
 |  filter(self, *criterion)
 |      Apply the given filtering criterion to a copy
 |      of this :class:`_query.Query`, using SQL expressions.
 |
 |      e.g.::
 |
 |          session.query(MyClass).filter(MyClass.name == 'some name')
 |
 |      Multiple criteria may be specified as comma separated; the effect
 |      is that they will be joined together using the :func:`.and_`
 |      function::
 |
 |          session.query(MyClass).\
 |              filter(MyClass.name == 'some name', MyClass.id > 5)
 |
 |      The criterion is any SQL expression object applicable to the
 |      WHERE clause of a select.   String expressions are coerced
 |      into SQL expression constructs via the :func:`_expression.text`
 |      construct.
 |
 |      .. seealso::
 |
 |          :meth:`_query.Query.filter_by` - filter on keyword expressions.
 |
 |  filter_by(self, **kwargs)
 |      Apply the given filtering criterion to a copy
 |      of this :class:`_query.Query`, using keyword expressions.
 |
 |      e.g.::
 |
 |          session.query(MyClass).filter_by(name = 'some name')
 |
 |      Multiple criteria may be specified as comma separated; the effect
 |      is that they will be joined together using the :func:`.and_`
 |      function::
 |
 |          session.query(MyClass).\
 |              filter_by(name = 'some name', id = 5)
 |
 |      The keyword expressions are extracted from the primary
 |      entity of the query, or the last entity that was the
 |      target of a call to :meth:`_query.Query.join`.
 |
 |      .. seealso::
 |
 |          :meth:`_query.Query.filter` - filter on SQL expressions.
 |
 |  first(self)
 |      Return the first result of this ``Query`` or
 |      None if the result doesn't contain any row.
 |
 |      first() applies a limit of one within the generated SQL, so that
 |      only one primary entity row is generated on the server side
 |      (note this may consist of multiple result rows if join-loaded
 |      collections are present).
 |
 |      Calling :meth:`_query.Query.first`
 |      results in an execution of the underlying
 |      query.
 |
 |      .. seealso::
 |
 |          :meth:`_query.Query.one`
 |
 |          :meth:`_query.Query.one_or_none`
 |
 |  from_self(self, *entities)
 |      return a Query that selects from this Query's
 |      SELECT statement.
 |
 |      .. deprecated:: 1.4 The :meth:`_query.Query.from_self` method is considered legacy as of the 1.x series of SQLAlchemy and will be removed in 2.0. The new approach is to use the :func:`.orm.aliased` construct in conjunction with a subquery.  See the section :ref:`Selecting from the query itself as a subquery <migration_20_query_from_self>` in the 2.0 migration notes for an example. (Background on SQLAlchemy 2.0 at: :ref:`migration_20_toplevel`)
 |
 |      :meth:`_query.Query.from_self` essentially turns the SELECT statement
 |      into a SELECT of itself.  Given a query such as::
 |
 |          q = session.query(User).filter(User.name.like('e%'))
 |
 |      Given the :meth:`_query.Query.from_self` version::
 |
 |          q = session.query(User).filter(User.name.like('e%')).from_self()
 |
 |      This query renders as:
 |
 |      .. sourcecode:: sql
 |
 |          SELECT anon_1.user_id AS anon_1_user_id,
 |                 anon_1.user_name AS anon_1_user_name
 |          FROM (SELECT "user".id AS user_id, "user".name AS user_name
 |          FROM "user"
 |          WHERE "user".name LIKE :name_1) AS anon_1
 |

In [25]:
results = session.query(birth_rates.columns.state_rate, birth_rates.columns.state, birth_rates.columns.year).all()
results

[(47.4, 'Alabama', 1990),
 (31.2, 'Alaska', 1990),
 (47.7, 'Arizona', 1990),
 (50.4, 'Arkansas', 1990),
 (44.6, 'California', 1990),
 (33.1, 'Colorado', 1990),
 (26.4, 'Connecticut', 1990),
 (38.4, 'Delaware', 1990),
 (88.4, 'District of Columbia', 1990),
 (44.9, 'Florida', 1990),
 (50.1, 'Georgia', 1990),
 (32.5, 'Hawaii', 1990),
 (26.3, 'Idaho', 1990),
 (40.1, 'Illinois', 1990),
 (35.3, 'Indiana', 1990),
 (20.4, 'Iowa', 1990),
 (30.4, 'Kansas', 1990),
 (40.8, 'Kentucky', 1990),
 (49.5, 'Louisiana', 1990),
 (23.3, 'Maine', 1990),
 (33.5, 'Maryland', 1990),
 (23.7, 'Massachusetts', 1990),
 (36.0, 'Michigan', 1990),
 (19.9, 'Minnesota', 1990),
 (57.5, 'Mississippi', 1990),
 (39.3, 'Missouri', 1990),
 (24.0, 'Montana', 1990),
 (23.0, 'Nebraska', 1990),
 (42.5, 'Nevada', 1990),
 (17.1, 'New Hampshire', 1990),
 (24.4, 'New Jersey', 1990),
 (46.9, 'New Mexico', 1990),
 (27.5, 'New York', 1990),
 (44.9, 'North Carolina', 1990),
 (15.6, 'North Dakota', 1990),
 (34.3, 'Ohio', 1990),
 (38.8, 'Oklahoma', 1990),
 (30.7, 'Oregon', 1990),
 (28.4, 'Pennsylvania', 1990),
 (31.6, 'Rhode Island', 1990),
 (47.0, 'South Carolina', 1990),
 (23.9, 'South Dakota', 1990),
 (45.0, 'Tennessee', 1990),
 (48.0, 'Texas', 1990),
 (37.5, 'Total U.S.', 1990),
 (26.3, 'Utah', 1990),
 (19.5, 'Vermont', 1990),
 (32.1, 'Virginia', 1990),
 (29.6, 'Washington', 1990),
 (33.0, 'West Virginia', 1990),
 (24.2, 'Wisconsin', 1990),
 (29.7, 'Wyoming', 1990),
 (47.8, 'Alabama', 1991),
 (34.7, 'Alaska', 1991),
 (50.7, 'Arizona', 1991),
 (49.1, 'Arkansas', 1991),
 (46.2, 'California', 1991),
 (35.1, 'Colorado', 1991),
 (26.2, 'Connecticut', 1991),
 (39.9, 'Delaware', 1991),
 (102.4, 'District of Columbia', 1991),
 (43.4, 'Florida', 1991),
 (50.4, 'Georgia', 1991),
 (34.4, 'Hawaii', 1991),
 (29.4, 'Idaho', 1991),
 (40.5, 'Illinois', 1991),
 (35.4, 'Indiana', 1991),
 (22.8, 'Iowa', 1991),
 (29.3, 'Kansas', 1991),
 (42.8, 'Kentucky', 1991),
 (51.1, 'Louisiana', 1991),
 (23.7, 'Maine', 1991),
 (35.0, 'Maryland', 1991),
 (25.1, 'Massachusetts', 1991),
 (35.6, 'Michigan', 1991),
 (20.7, 'Minnesota', 1991),
 (60.3, 'Mississippi', 1991),
 (38.9, 'Missouri', 1991),
 (23.4, 'Montana', 1991),
 (23.5, 'Nebraska', 1991),
 (43.8, 'Nevada', 1991),
 (17.0, 'New Hampshire', 1991),
 (26.2, 'New Jersey', 1991),
 (49.7, 'New Mexico', 1991),
 (28.8, 'New York', 1991),
 (46.3, 'North Carolina', 1991),
 (18.1, 'North Dakota', 1991),
 (36.3, 'Ohio', 1991),
 (41.6, 'Oklahoma', 1991),
 (31.2, 'Oregon', 1991),
 (29.2, 'Pennsylvania', 1991),
 (30.1, 'Rhode Island', 1991),
 (48.0, 'South Carolina', 1991),
 (26.2, 'South Dakota', 1991),
 (47.7, 'Tennessee', 1991),
 (50.0, 'Texas', 1991),
 (38.6, 'Total U.S.', 1991),
 (26.9, 'Utah', 1991),
 (21.2, 'Vermont', 1991),
 (31.5, 'Virginia', 1991),
 (30.9, 'Washington', 1991),
 (32.6, 'West Virginia', 1991),
 (24.8, 'Wisconsin', 1991),
 (26.3, 'Wyoming', 1991),
 (46.1, 'Alabama', 1992),
 (34.3, 'Alaska', 1992),
 (50.5, 'Arizona', 1992),
 (46.1, 'Arkansas', 1992),
 (45.3, 'California', 1992),
 (36.4, 'Colorado', 1992),
 (25.7, 'Connecticut', 1992),
 (43.3, 'Delaware', 1992),
 (84.7, 'District of Columbia', 1992),
 (41.7, 'Florida', 1992),
 (48.1, 'Georgia', 1992),
 (31.0, 'Hawaii', 1992),
 (28.4, 'Idaho', 1992),
 (40.0, 'Illinois', 1992),
 (34.8, 'Indiana', 1992),
 (21.1, 'Iowa', 1992),
 (30.2, 'Kansas', 1992),
 (38.9, 'Kentucky', 1992),
 (52.2, 'Louisiana', 1992),
 (21.1, 'Maine', 1992),
 (32.6, 'Maryland', 1992),
 (24.5, 'Massachusetts', 1992),
 (33.9, 'Michigan', 1992),
 (20.5, 'Minnesota', 1992),
 (58.8, 'Mississippi', 1992),
 (38.3, 'Missouri', 1992),
 (25.4, 'Montana', 1992),
 (22.8, 'Nebraska', 1992),
 (42.4, 'Nevada', 1992),
 (14.7, 'New Hampshire', 1992),
 (24.1, 'New Jersey', 1992),
 (50.9, 'New Mexico', 1992),
 (28.5, 'New York', 1992),
 (43.8, 'North Carolina', 1992),
 (17.8, 'North Dakota', 1992),
 (34.8, 'Ohio', 1992),
 (41.0, 'Oklahoma', 1992),
 (30.2, 'Oregon', 1992),
 (28.6, 'Pennsylvania', 1992),
 (29.6, 'Rhode Island', 1992),
 (45.6, 'South Carolina', 1992),
 (26.6, 'South Dakota', 1992),
 (44.3, 'Tennessee', 1992),
 (50.5, 'Texas', 1992),
 (37.6, 'Total U.S.', 1992),
 (25.9, 'Utah', 1992),
 (17.1, 'Vermont', 1992),
 (30.7, 'Virginia', 1992),
 (30.7, 'Washington', 1992),
 (32.7, 'West Virginia', 1992),
 (23.9, 'Wisconsin', 1992),
 (24.8, 'Wyoming', 1992),
 (47.3, 'Alabama', 1993),
 (33.6, 'Alaska', 1993),
 (49.1, 'Arizona', 1993),
 (45.1, 'Arkansas', 1993),
 (45.3, 'California', 1993),
 (35.3, 'Colorado', 1993),
 (26.2, 'Connecticut', 1993),
 (38.5, 'Delaware', 1993),
 (94.4, 'District of Columbia', 1993),
 (41.4, 'Florida', 1993),
 (48.4, 'Georgia', 1993),
 (29.1, 'Hawaii', 1993),
 (29.1, 'Idaho', 1993),
 (40.8, 'Illinois', 1993),
 (34.2, 'Indiana', 1993),
 (23.2, 'Iowa', 1993),
 (30.9, 'Kansas', 1993),
 (39.5, 'Kentucky', 1993),
 (52.2, 'Louisiana', 1993),
 (20.0, 'Maine', 1993),
 (33.4, 'Maryland', 1993),
 (23.5, 'Massachusetts', 1993),
 (33.0, 'Michigan', 1993),
 (20.5, 'Minnesota', 1993),
 (57.0, 'Mississippi', 1993),
 (36.5, 'Missouri', 1993),
 (26.4, 'Montana', 1993),
 (22.6, 'Nebraska', 1993),
 (44.9, 'Nevada', 1993),
 (14.8, 'New Hampshire', 1993),
 (24.8, 'New Jersey', 1993),
 (53.0, 'New Mexico', 1993),
 (29.0, 'New York', 1993),
 (43.1, 'North Carolina', 1993),
 (17.5, 'North Dakota', 1993),
 (34.8, 'Ohio', 1993),
 (40.3, 'Oklahoma', 1993),
 (30.1, 'Oregon', 1993),
 (28.3, 'Pennsylvania', 1993),
 (33.3, 'Rhode Island', 1993),
 (43.0, 'South Carolina', 1993),
 (24.7, 'South Dakota', 1993),
 (43.0, 'Tennessee', 1993),
 (50.8, 'Texas', 1993),
 (37.5, 'Total U.S.', 1993),
 (25.3, 'Utah', 1993),
 (16.8, 'Vermont', 1993),
 (30.2, 'Virginia', 1993),
 (29.4, 'Washington', 1993),
 (33.5, 'West Virginia', 1993),
 (23.9, 'Wisconsin', 1993),
 (26.9, 'Wyoming', 1993),
 (49.6, 'Alabama', 1994),
 (33.1, 'Alaska', 1994),
 (50.1, 'Arizona', 1994),
 (47.6, 'Arkansas', 1994),
 (44.1, 'California', 1994),
 (35.0, 'Colorado', 1994),
 (28.7, 'Connecticut', 1994),
 (43.4, 'Delaware', 1994),
 (79.6, 'District of Columbia', 1994),
 (41.5, 'Florida', 1994),
 (47.9, 'Georgia', 1994),
 (30.9, 'Hawaii', 1994),
 (26.6, 'Idaho', 1994),
 (40.3, 'Illinois', 1994),
 (34.7, 'Indiana', 1994),
 (22.9, 'Iowa', 1994),
 (30.3, 'Kansas', 1994),
 (39.5, 'Kentucky', 1994),
 (50.8, 'Louisiana', 1994),
 (18.2, 'Maine', 1994),
 (32.1, 'Maryland', 1994),
 (23.6, 'Massachusetts', 1994),
 (31.9, 'Michigan', 1994),
 (19.9, 'Minnesota', 1994),
 (57.5, 'Mississippi', 1994),
 (35.4, 'Missouri', 1994),
 (22.2, 'Montana', 1994),
 (24.2, 'Nebraska', 1994),
 (46.5, 'Nevada', 1994),
 (14.6, 'New Hampshire', 1994),
 (25.0, 'New Jersey', 1994),
 (51.3, 'New Mexico', 1994),
 (28.7, 'New York', 1994),
 (43.6, 'North Carolina', 1994),
 (15.3, 'North Dakota', 1994),
 (33.7, 'Ohio', 1994),
 (40.4, 'Oklahoma', 1994),
 (29.8, 'Oregon', 1994),
 (27.9, 'Pennsylvania', 1994),
 (32.1, 'Rhode Island', 1994),
 (44.7, 'South Carolina', 1994),
 (22.9, 'South Dakota', 1994),
 (42.7, 'Tennessee', 1994),
 (51.2, 'Texas', 1994),
 (37.2, 'Total U.S.', 1994),
 (24.4, 'Utah', 1994),
 (16.2, 'Vermont', 1994),
 (30.8, 'Virginia', 1994),
 (28.5, 'Washington', 1994),
 (32.7, 'West Virginia', 1994),
 (23.2, 'Wisconsin', 1994),
 (25.1, 'Wyoming', 1994),
 (45.7, 'Alabama', 1995),
 (30.3, 'Alaska', 1995),
 (47.5, 'Arizona', 1995),
 (46.6, 'Arkansas', 1995),
 (41.7, 'California', 1995),
 (33.3, 'Colorado', 1995),
 (26.4, 'Connecticut', 1995),
 (38.5, 'Delaware', 1995),
 (66.7, 'District of Columbia', 1995),
 (39.3, 'Florida', 1995),
 (47.6, 'Georgia', 1995),
 (26.8, 'Hawaii', 1995),
 (26.6, 'Idaho', 1995),
 (37.6, 'Illinois', 1995),
 (34.5, 'Indiana', 1995),
 (22.3, 'Iowa', 1995),
 (30.0, 'Kansas', 1995),
 (38.8, 'Kentucky', 1995),
 (44.9, 'Louisiana', 1995),
 (19.3, 'Maine', 1995),
 (31.4, 'Maryland', 1995),
 (21.5, 'Massachusetts', 1995),
 (30.3, 'Michigan', 1995),
 (19.5, 'Minnesota', 1995),
 (56.9, 'Mississippi', 1995),
 (32.5, 'Missouri', 1995),
 (22.9, 'Montana', 1995),
 (22.0, 'Nebraska', 1995),
 (44.1, 'Nevada', 1995),
 (14.8, 'New Hampshire', 1995),
 (23.9, 'New Jersey', 1995),
 (48.2, 'New Mexico', 1995),
 (26.4, 'New York', 1995),
 (41.9, 'North Carolina', 1995),
 (17.8, 'North Dakota', 1995),
 (32.6, 'Ohio', 1995),
 (38.6, 'Oklahoma', 1995),
 (29.7, 'Oregon', 1995),
 (26.2, 'Pennsylvania', 1995),
 (26.1, 'Rhode Island', 1995),
 (42.2, 'South Carolina', 1995),
 (21.4, 'South Dakota', 1995),
 (41.4, 'Tennessee', 1995),
 (49.9, 'Texas', 1995),
 (35.5, 'Total U.S.', 1995),
 (24.5, 'Utah', 1995),
 (10.6, 'Vermont', 1995),
 (30.1, 'Virginia', 1995),
 (28.1, 'Washington', 1995),
 (30.5, 'West Virginia', 1995),
 (22.8, 'Wisconsin', 1995),
 (24.8, 'Wyoming', 1995),
 (43.7, 'Alabama', 1996),
 (26.7, 'Alaska', 1996),
 (46.6, 'Arizona', 1996),
 (43.6, 'Arkansas', 1996),
 (37.2, 'California', 1996),
 (30.8, 'Colorado', 1996),
 (24.1, 'Connecticut', 1996),
 (39.5, 'Delaware', 1996),
 (67.3, 'District of Columbia', 1996),
 (36.0, 'Florida', 1996),
 (44.6, 'Georgia', 1996),
 (26.9, 'Hawaii', 1996),
 (26.2, 'Idaho', 1996),
 (35.1, 'Illinois', 1996),
 (32.8, 'Indiana', 1996),
 (21.5, 'Iowa', 1996),
 (27.7, 'Kansas', 1996),
 (36.8, 'Kentucky', 1996),
 (42.6, 'Louisiana', 1996),
 (16.9, 'Maine', 1996),
 (29.3, 'Maryland', 1996),
 (19.7, 'Massachusetts', 1996),
 (28.5, 'Michigan', 1996),
 (18.7, 'Minnesota', 1996),
 (51.3, 'Mississippi', 1996),
 (31.0, 'Missouri', 1996),
 (21.3, 'Montana', 1996),
 (22.2, 'Nebraska', 1996),
 (42.0, 'Nevada', 1996),
 (15.3, 'New Hampshire', 1996),
 (22.4, 'New Jersey', 1996),
 (45.1, 'New Mexico', 1996),
 (24.4, 'New York', 1996),
 (41.3, 'North Carolina', 1996),
 (16.1, 'North Dakota', 1996),
 (29.6, 'Ohio', 1996),
 (37.1, 'Oklahoma', 1996),
 (29.3, 'Oregon', 1996),
 (24.4, 'Pennsylvania', 1996),
 (26.9, 'Rhode Island', 1996),
 (39.7, 'South Carolina', 1996),
 (22.4, 'South Dakota', 1996),
 (39.6, 'Tennessee', 1996),
 (47.9, 'Texas', 1996),
 (33.3, 'Total U.S.', 1996),
 (23.6, 'Utah', 1996),
 (15.0, 'Vermont', 1996),
 (27.3, 'Virginia', 1996),
 (26.2, 'Washington', 1996),
 (29.0, 'West Virginia', 1996),
 (21.8, 'Wisconsin', 1996),
 (25.0, 'Wyoming', 1996),
 (41.5, 'Alabama', 1997),
 (25.4, 'Alaska', 1997),
 (44.4, 'Arizona', 1997),
 (41.6, 'Arkansas', 1997),
 (34.3, 'California', 1997),
 (30.4, 'Colorado', 1997),
 (22.1, 'Connecticut', 1997),
 (35.3, 'Delaware', 1997),
 (54.6, 'District of Columbia', 1997),
 (34.2, 'Florida', 1997),
 (43.1, 'Georgia', 1997),
 (23.9, 'Hawaii', 1997),
 (22.9, 'Idaho', 1997),
 (33.3, 'Illinois', 1997),
 (31.8, 'Indiana', 1997),
 (20.3, 'Iowa', 1997),
 (27.4, 'Kansas', 1997),
 (34.7, 'Kentucky', 1997),
 (41.0, 'Louisiana', 1997),
 (15.5, 'Maine', 1997),
 (27.4, 'Maryland', 1997),
 (18.8, 'Massachusetts', 1997),
 (25.7, 'Michigan', 1997),
 (17.9, 'Minnesota', 1997),
 (49.1, 'Mississippi', 1997),
 (29.6, 'Missouri', 1997),
 (20.1, 'Montana', 1997),
 (21.2, 'Nebraska', 1997),
 (42.3, 'Nevada', 1997),
 (14.1, 'New Hampshire', 1997),
 (20.8, 'New Jersey', 1997),
 (43.2, 'New Mexico', 1997),
 (22.2, 'New York', 1997),
 (38.0, 'North Carolina', 1997),
 (14.2, 'North Dakota', 1997),
 (28.5, 'Ohio', 1997),
 (36.9, 'Oklahoma', 1997),
 (26.6, 'Oregon', 1997),
 (21.7, 'Pennsylvania', 1997),
 (27.0, 'Rhode Island', 1997),
 (38.6, 'South Carolina', 1997),
 (21.5, 'South Dakota', 1997),
 (37.7, 'Tennessee', 1997),
 (46.2, 'Texas', 1997),
 (31.4, 'Total U.S.', 1997),
 (22.9, 'Utah', 1997),
 (11.9, 'Vermont', 1997),
 (25.7, 'Virginia', 1997),
 (24.5, 'Washington', 1997),
 (27.6, 'West Virginia', 1997),
 (21.6, 'Wisconsin', 1997),
 (23.3, 'Wyoming', 1997),
 (39.5, 'Alabama', 1998),
 (25.3, 'Alaska', 1998),
 (44.4, 'Arizona', 1998),
 (39.8, 'Arkansas', 1998),
 (31.4, 'California', 1998),
 (29.8, 'Colorado', 1998),
 (21.0, 'Connecticut', 1998),
 (32.7, 'Delaware', 1998),
 (55.2, 'District of Columbia', 1998),
 (32.6, 'Florida', 1998),
 (39.6, 'Georgia', 1998),
 (28.1, 'Hawaii', 1998),
 (24.1, 'Idaho', 1998),
 (31.9, 'Illinois', 1998),
 (28.9, 'Indiana', 1998),
 (18.9, 'Iowa', 1998),
 (25.0, 'Kansas', 1998),
 (31.8, 'Kentucky', 1998),
 (39.6, 'Louisiana', 1998),
 (14.9, 'Maine', 1998),
 (25.8, 'Maryland', 1998),
 (18.0, 'Massachusetts', 1998),
 (24.6, 'Michigan', 1998),
 (16.7, 'Minnesota', 1998),
 (46.5, 'Mississippi', 1998),
 (28.8, 'Missouri', 1998),
 (19.8, 'Montana', 1998),
 (20.6, 'Nebraska', 1998),
 (38.3, 'Nevada', 1998),
 (13.3, 'New Hampshire', 1998),
 (19.8, 'New Jersey', 1998),
 (43.5, 'New Mexico', 1998),
 (21.2, 'New York', 1998),
 (37.0, 'North Carolina', 1998),
 (16.1, 'North Dakota', 1998),
 (26.9, 'Ohio', 1998),
 (34.8, 'Oklahoma', 1998),
 (26.2, 'Oregon', 1998),
 (21.7, 'Pennsylvania', 1998),
 (24.0, 'Rhode Island', 1998),
 (38.5, 'South Carolina', 1998),
 (19.8, 'South Dakota', 1998),
 (37.1, 'Tennessee', 1998),
 (44.2, 'Texas', 1998),
 (29.9, 'Total U.S.', 1998),
 (21.7, 'Utah', 1998),
 (11.3, 'Vermont', 1998),
 (23.9, 'Virginia', 1998),
 (23.4, 'Washington', 1998),
 (26.6, 'West Virginia', 1998),
 (20.0, 'Wisconsin', 1998),
 (22.9, 'Wyoming', 1998),
 (14.0, 'Maine', 1999),
 (36.7, 'Alabama', 1999),
 (25.5, 'Alaska', 1999),
 (41.6, 'Arizona', 1999),
 (36.4, 'Arkansas', 1999),
 (28.9, 'California', 1999),
 (29.6, 'Colorado', 1999),
 (18.8, 'Connecticut', 1999),
 (32.6, 'Delaware', 1999),
 (51.9, 'District of Columbia', 1999),
 (30.1, 'Florida', 1999),
 (37.3, 'Georgia', 1999),
 (23.9, 'Hawaii', 1999),
 (24.6, 'Idaho', 1999),
 (28.6, 'Illinois', 1999),
 (27.5, 'Indiana', 1999),
 (18.6, 'Iowa', 1999),
 (24.5, 'Kansas', 1999),
 (30.2, 'Kentucky', 1999),
 (37.3, 'Louisiana', 1999),
 (24.7, 'Maryland', 1999),
 (16.1, 'Massachusetts', 1999),
 (22.8, 'Michigan', 1999),
 (16.5, 'Minnesota', 1999),
 (44.2, 'Mississippi', 1999),
 (27.0, 'Missouri', 1999),
 (18.5, 'Montana', 1999),
 (20.2, 'Nebraska', 1999),
 (37.2, 'Nevada', 1999),
 (10.9, 'New Hampshire', 1999),
 (17.7, 'New Jersey', 1999),
 (41.7, 'New Mexico', 1999),
 (19.8, 'New York', 1999),
 (35.4, 'North Carolina', 1999),
 (13.0, 'North Dakota', 1999),
 (25.0, 'Ohio', 1999),
 (33.0, 'Oklahoma', 1999),
 (25.2, 'Oregon', 1999),
 (20.6, 'Pennsylvania', 1999),
 (21.1, 'Rhode Island', 1999),
 (36.9, 'South Carolina', 1999),
 (19.3, 'South Dakota', 1999),
 (34.3, 'Tennessee', 1999),
 (42.8, 'Texas', 1999),
 (28.2, 'Total U.S.', 1999),
 (22.0, 'Utah', 1999),
 (12.0, 'Vermont', 1999),
 (22.7, 'Virginia', 1999),
 (21.7, 'Washington', 1999),
 (24.9, 'West Virginia', 1999),
 (20.6, 'Wisconsin', 1999),
 (22.1, 'Wyoming', 1999),
 (36.3, 'Alabama', 2000),
 (24.3, 'Alaska', 2000),
 (41.2, 'Arizona', 2000),
 (35.3, 'Arkansas', 2000),
 (26.7, 'California', 2000),
 (29.6, 'Colorado', 2000),
 (16.7, 'Connecticut', 2000),
 (29.4, 'Delaware', 2000),
 (48.2, 'District of Columbia', 2000),
 (29.2, 'Florida', 2000),
 (36.2, 'Georgia', 2000),
 (22.7, 'Hawaii', 2000),
 (21.0, 'Idaho', 2000),
 (27.7, 'Illinois', 2000),
 (26.2, 'Indiana', 2000),
 (17.8, 'Iowa', 2000),
 (22.7, 'Kansas', 2000),
 (29.1, 'Kentucky', 2000),
 (35.5, 'Louisiana', 2000),
 (13.5, 'Maine', 2000),
 (23.4, 'Maryland', 2000),
 (14.9, 'Massachusetts', 2000),
 (22.1, 'Michigan', 2000),
 (15.8, 'Minnesota', 2000),
 (44.3, 'Mississippi', 2000),
 (26.7, 'Missouri', 2000),
 (19.0, 'Montana', 2000),
 (19.2, 'Nebraska', 2000),
 (34.9, 'Nevada', 2000),
 (10.2, 'New Hampshire', 2000),
 (16.7, 'New Jersey', 2000),
 (39.1, 'New Mexico', 2000),
 (18.7, 'New York', 2000),
 (33.8, 'North Carolina', 2000),
 (12.4, 'North Dakota', 2000),
 (24.3, 'Ohio', 2000),
 (32.6, 'Oklahoma', 2000),
 (23.3, 'Oregon', 2000),
 (19.6, 'Pennsylvania', 2000),
 (21.0, 'Rhode Island', 2000),
 (35.4, 'South Carolina', 2000),
 (19.3, 'South Dakota', 2000),
 (33.6, 'Tennessee', 2000),
 (41.6, 'Texas', 2000),
 (26.9, 'Total U.S.', 2000),
 (21.2, 'Utah', 2000),
 (10.5, 'Vermont', 2000),
 (21.4, 'Virginia', 2000),
 (20.4, 'Washington', 2000),
 (23.1, 'West Virginia', 2000),
 (18.8, 'Wisconsin', 2000),
 (19.0, 'Wyoming', 2000),
 (31.6, 'Alabama', 2001),
 (18.9, 'Alaska', 2001),
 (38.0, 'Arizona', 2001),
 (31.5, 'Arkansas', 2001),
 (23.9, 'California', 2001),
 (25.7, 'Colorado', 2001),
 (15.1, 'Connecticut', 2001),
 (27.6, 'Delaware', 2001),
 (41.5, 'District of Columbia', 2001),
 (26.1, 'Florida', 2001),
 (33.2, 'Georgia', 2001),
 (20.2, 'Hawaii', 2001),
 (18.9, 'Idaho', 2001),
 (25.4, 'Illinois', 2001),
 (23.5, 'Indiana', 2001),
 (16.5, 'Iowa', 2001),
 (22.4, 'Kansas', 2001),
 (25.7, 'Kentucky', 2001),
 (32.4, 'Louisiana', 2001),
 (11.8, 'Maine', 2001),
 (21.0, 'Maryland', 2001),
 (13.5, 'Massachusetts', 2001),
 (20.1, 'Michigan', 2001),
 (14.2, 'Minnesota', 2001),
 (39.0, 'Mississippi', 2001),
 (23.3, 'Missouri', 2001),
 (17.9, 'Montana', 2001),
 (19.3, 'Nebraska', 2001),
 (30.9, 'Nevada', 2001),
 (10.1, 'New Hampshire', 2001),
 (15.6, 'New Jersey', 2001),
 (37.9, 'New Mexico', 2001),
 (17.3, 'New York', 2001),
 (30.5, 'North Carolina', 2001),
 (11.7, 'North Dakota', 2001),
 (21.9, 'Ohio', 2001),
 (30.5, 'Oklahoma', 2001),
 (20.6, 'Oregon', 2001),
 (17.8, 'Pennsylvania', 2001),
 (21.2, 'Rhode Island', 2001),
 (31.3, 'South Carolina', 2001),
 (18.6, 'South Dakota', 2001),
 (29.9, 'Tennessee', 2001),
 (38.9, 'Texas', 2001),
 (24.5, 'Total U.S.', 2001),
 (18.2, 'Utah', 2001),
 (10.2, 'Vermont', 2001),
 (20.6, 'Virginia', 2001),
 (17.6, 'Washington', 2001),
 (22.8, 'West Virginia', 2001),
 (18.0, 'Wisconsin', 2001),
 (18.3, 'Wyoming', 2001),
 (30.9, 'Alabama', 2002),
 (19.6, 'Alaska', 2002),
 (35.6, 'Arizona', 2002),
 (31.4, 'Arkansas', 2002),
 (22.5, 'California', 2002),
 (26.3, 'Colorado', 2002),
 (14.4, 'Connecticut', 2002),
 (23.8, 'Delaware', 2002),
 (41.5, 'District of Columbia', 2002),
 (23.5, 'Florida', 2002),
 (31.3, 'Georgia', 2002),
 (17.5, 'Hawaii', 2002),
 (18.3, 'Idaho', 2002),
 (23.2, 'Illinois', 2002),
 (22.6, 'Indiana', 2002),
 (16.0, 'Iowa', 2002),
 (21.0, 'Kansas', 2002),
 (25.2, 'Kentucky', 2002),
 (31.1, 'Louisiana', 2002),
 (11.4, 'Maine', 2002),
 (19.9, 'Maryland', 2002),
 (12.2, 'Massachusetts', 2002),
 (17.9, 'Michigan', 2002),
 (13.9, 'Minnesota', 2002),
 (37.1, 'Mississippi', 2002),
 (21.9, 'Missouri', 2002),
 (17.4, 'Montana', 2002),
 (18.0, 'Nebraska', 2002),
 (28.7, 'Nevada', 2002),
 (8.2, 'New Hampshire', 2002),
 (14.8, 'New Jersey', 2002),
 (37.3, 'New Mexico', 2002),
 (15.4, 'New York', 2002),
 (28.7, 'North Carolina', 2002),
 (11.3, 'North Dakota', 2002),
 (20.0, 'Ohio', 2002),
 (29.6, 'Oklahoma', 2002),
 (18.2, 'Oregon', 2002),
 (17.1, 'Pennsylvania', 2002),
 (19.2, 'Rhode Island', 2002),
 (28.2, 'South Carolina', 2002),
 (17.1, 'South Dakota', 2002),
 (28.0, 'Tennessee', 2002),
 (38.3, 'Texas', 2002),
 (23.1, 'Total U.S.', 2002),
 (16.8, 'Utah', 2002),
 (10.2, 'Vermont', 2002),
 (18.9, 'Virginia', 2002),
 (16.7, 'Washington', 2002),
 (21.5, 'West Virginia', 2002),
 (15.7, 'Wisconsin', 2002),
 (17.7, 'Wyoming', 2002),
 (28.5, 'Alabama', 2003),
 (19.8, 'Alaska', 2003),
 (36.2, 'Arizona', 2003),
 (30.4, 'Arkansas', 2003),
 (21.5, 'California', 2003),
 (24.7, 'Colorado', 2003),
 (12.8, 'Connecticut', 2003),
 (23.5, 'Delaware', 2003),
 (35.2, 'District of Columbia', 2003),
 (22.4, 'Florida', 2003),
 (28.8, 'Georgia', 2003),
 (18.3, 'Hawaii', 2003),
 (17.3, 'Idaho', 2003),
 (22.6, 'Illinois', 2003),
 (21.7, 'Indiana', 2003),
 (14.8, 'Iowa', 2003),
 (19.8, 'Kansas', 2003),
 (24.5, 'Kentucky', 2003),
 (29.4, 'Louisiana', 2003),
 (12.3, 'Maine', 2003),
 (18.1, 'Maryland', 2003),
 (11.7, 'Massachusetts', 2003),
 (18.1, 'Michigan', 2003),
 (13.1, 'Minnesota', 2003),
 (34.9, 'Mississippi', 2003),
 (21.2, 'Missouri', 2003),
 (16.1, 'Montana', 2003),
 (18.1, 'Nebraska', 2003),
 (29.3, 'Nevada', 2003),
 (7.2, 'New Hampshire', 2003),
 (13.8, 'New Jersey', 2003),
 (37.0, 'New Mexico', 2003),
 (14.4, 'New York', 2003),
 (26.6, 'North Carolina', 2003),
 (11.8, 'North Dakota', 2003),
 (19.9, 'Ohio', 2003),
 (28.3, 'Oklahoma', 2003),
 (17.0, 'Oregon', 2003),
 (17.3, 'Pennsylvania', 2003),
 (18.7, 'Rhode Island', 2003),
 (28.6, 'South Carolina', 2003),
 (17.3, 'South Dakota', 2003),
 (27.6, 'Tennessee', 2003),
 (37.0, 'Texas', 2003),
 (22.2, 'Total U.S.', 2003),
 (15.7, 'Utah', 2003),

In [33]:
start_end_births = session.query(func.avg(birth_rates.columns.state_births),birth_rates.columns.state, birth_rates.columns.year).\
    group_by(birth_rates.columns.year, birth_rates.columns.state).all()
start_end_births

[(7.333333333333333, 'Alabama', 1990),
 (381.0, 'Alaska', 1990),
 (6.0, 'Arizona', 1990),
 (4.333333333333333, 'Arkansas', 1990),
 (45.666666666666664, 'California', 1990),
 (3.3333333333333335, 'Colorado', 1990),
 (2.3333333333333335, 'Connecticut', 1990),
 (426.0, 'Delaware', 1990),
 (281.3333333333333, 'District of Columbia', 1990),
 (17.666666666666668, 'Florida', 1990),
 (11.666666666666666, 'Georgia', 1990),
 (221.33333333333334, 'Hawaii', 1990),
 (204.66666666666666, 'Idaho', 1990),
 (16.0, 'Illinois', 1990),
 (8.0, 'Indiana', 1990),
 (2.0, 'Iowa', 1990),
 (2.6666666666666665, 'Kansas', 1990),
 (6.0, 'Kentucky', 1990),
 (7.666666666666667, 'Louisiana', 1990),
 (190.66666666666666, 'Maine', 1990),
 (5.0, 'Maryland', 1990),
 (4.333333333333333, 'Massachusetts', 1990),
 (13.333333333333334, 'Michigan', 1990),
 (3.0, 'Minnesota', 1990),
 (5.333333333333333, 'Mississippi', 1990),
 (7.0, 'Missouri', 1990),
 (444.0, 'Montana', 1990),
 (243.66666666666666, 'Nebraska', 1990),
 (297.3333333333333, 'Nevada', 1990),
 (419.6666666666667, 'New Hampshire', 1990),
 (6.333333333333333, 'New Jersey', 1990),
 (2.3333333333333335, 'New Mexico', 1990),
 (17.333333333333332, 'New York', 1990),
 (10.333333333333334, 'North Carolina', 1990),
 (528.6666666666666, 'North Dakota', 1990),
 (14.666666666666666, 'Ohio', 1990),
 (4.666666666666667, 'Oklahoma', 1990),
 (3.0, 'Oregon', 1990),
 (11.666666666666666, 'Pennsylvania', 1990),
 (184.66666666666666, 'Rhode Island', 1990),
 (6.0, 'South Carolina', 1990),
 (391.0, 'South Dakota', 1990),
 (8.0, 'Tennessee', 1990),
 (31.666666666666668, 'Texas', 1990),
 (347.3333333333333, 'Total U.S.', 1990),
 (2.0, 'Utah', 1990),
 (468.0, 'Vermont', 1990),
 (7.0, 'Virginia', 1990),
 (5.0, 'Washington', 1990),
 (2.0, 'West Virginia', 1990),
 (4.333333333333333, 'Wisconsin', 1990),
 (628.6666666666666, 'Wyoming', 1990),
 (7.333333333333333, 'Alabama', 1991),
 (405.3333333333333, 'Alaska', 1991),
 (6.0, 'Arizona', 1991),
 (4.0, 'Arkansas', 1991),
 (46.333333333333336, 'California', 1991),
 (4.0, 'Colorado', 1991),
 (2.0, 'Connecticut', 1991),
 (440.3333333333333, 'Delaware', 1991),
 (286.0, 'District of Columbia', 1991),
 (17.0, 'Florida', 1991),
 (11.333333333333334, 'Georgia', 1991),
 (236.66666666666666, 'Hawaii', 1991),
 (242.33333333333334, 'Idaho', 1991),
 (16.0, 'Illinois', 1991),
 (8.0, 'Indiana', 1991),
 (2.3333333333333335, 'Iowa', 1991),
 (2.6666666666666665, 'Kansas', 1991),
 (5.666666666666667, 'Kentucky', 1991),
 (7.666666666666667, 'Louisiana', 1991),
 (189.66666666666666, 'Maine', 1991),
 (4.333333333333333, 'Maryland', 1991),
 (4.0, 'Massachusetts', 1991),
 (12.333333333333334, 'Michigan', 1991),
 (3.0, 'Minnesota', 1991),
 (5.666666666666667, 'Mississippi', 1991),
 (7.0, 'Missouri', 1991),
 (437.3333333333333, 'Montana', 1991),
 (254.66666666666666, 'Nebraska', 1991),
 (321.6666666666667, 'Nevada', 1991),
 (385.6666666666667, 'New Hampshire', 1991),
 (6.0, 'New Jersey', 1991),
 (2.3333333333333335, 'New Mexico', 1991),
 (17.0, 'New York', 1991),
 (10.666666666666666, 'North Carolina', 1991),
 (512.6666666666666, 'North Dakota', 1991),
 (14.333333333333334, 'Ohio', 1991),
 (5.0, 'Oklahoma', 1991),
 (3.0, 'Oregon', 1991),
 (11.333333333333334, 'Pennsylvania', 1991),
 (469.6666666666667, 'Rhode Island', 1991),
 (5.666666666666667, 'South Carolina', 1991),
 (397.6666666666667, 'South Dakota', 1991),
 (8.0, 'Tennessee', 1991),
 (32.333333333333336, 'Texas', 1991),
 (346.0, 'Total U.S.', 1991),
 (2.0, 'Utah', 1991),
 (492.6666666666667, 'Vermont', 1991),
 (6.666666666666667, 'Virginia', 1991),
 (5.0, 'Washington', 1991),
 (2.0, 'West Virginia', 1991),
 (4.333333333333333, 'Wisconsin', 1991),
 (618.6666666666666, 'Wyoming', 1991),
 (6.666666666666667, 'Alabama', 1992),
 (420.3333333333333, 'Alaska', 1992),
 (6.333333333333333, 'Arizona', 1992),
 (4.0, 'Arkansas', 1992),
 (46.0, 'California', 1992),
 (3.6666666666666665, 'Colorado', 1992),
 (2.0, 'Connecticut', 1992),
 (422.0, 'Delaware', 1992),
 (233.66666666666666, 'District of Columbia', 1992),
 (16.333333333333332, 'Florida', 1992),
 (11.0, 'Georgia', 1992),
 (220.66666666666666, 'Hawaii', 1992),
 (250.33333333333334, 'Idaho', 1992),
 (15.333333333333334, 'Illinois', 1992),
 (7.333333333333333, 'Indiana', 1992),
 (2.0, 'Iowa', 1992),
 (2.6666666666666665, 'Kansas', 1992),
 (5.333333333333333, 'Kentucky', 1992),
 (8.0, 'Louisiana', 1992),
 (170.33333333333334, 'Maine', 1992),
 (4.333333333333333, 'Maryland', 1992),
 (4.0, 'Massachusetts', 1992),
 (11.666666666666666, 'Michigan', 1992),
 (3.0, 'Minnesota', 1992),
 (5.333333333333333, 'Mississippi', 1992),
 (6.333333333333333, 'Missouri', 1992),
 (448.6666666666667, 'Montana', 1992),
 (254.0, 'Nebraska', 1992),
 (325.0, 'Nevada', 1992),
 (354.3333333333333, 'New Hampshire', 1992),
 (5.666666666666667, 'New Jersey', 1992),
 (2.3333333333333335, 'New Mexico', 1992),
 (16.333333333333332, 'New York', 1992),
 (9.666666666666666, 'North Carolina', 1992),
 (540.6666666666666, 'North Dakota', 1992),
 (13.666666666666666, 'Ohio', 1992),
 (4.666666666666667, 'Oklahoma', 1992),
 (3.0, 'Oregon', 1992),
 (10.666666666666666, 'Pennsylvania', 1992),
 (460.6666666666667, 'Rhode Island', 1992),
 (5.666666666666667, 'South Carolina', 1992),
 (415.3333333333333, 'South Dakota', 1992),
 (7.666666666666667, 'Tennessee', 1992),
 (32.666666666666664, 'Texas', 1992),
 (336.3333333333333, 'Total U.S.', 1992),
 (2.0, 'Utah', 1992),
 (432.6666666666667, 'Vermont', 1992),
 (6.333333333333333, 'Virginia', 1992),
 (5.333333333333333, 'Washington', 1992),
 (2.0, 'West Virginia', 1992),
 (4.333333333333333, 'Wisconsin', 1992),
 (585.3333333333334, 'Wyoming', 1992),
 (6.666666666666667, 'Alabama', 1993),
 (394.6666666666667, 'Alaska', 1993),
 (6.333333333333333, 'Arizona', 1993),
 (4.0, 'Arkansas', 1993),
 (45.333333333333336, 'California', 1993),
 (3.6666666666666665, 'Colorado', 1993),
 (2.0, 'Connecticut', 1993),
 (426.0, 'Delaware', 1993),
 (589.0, 'District of Columbia', 1993),
 (16.333333333333332, 'Florida', 1993),
 (11.0, 'Georgia', 1993),
 (211.66666666666666, 'Hawaii', 1993),
 (270.6666666666667, 'Idaho', 1993),
 (15.333333333333334, 'Illinois', 1993),
 (7.333333333333333, 'Indiana', 1993),
 (2.3333333333333335, 'Iowa', 1993),
 (2.6666666666666665, 'Kansas', 1993),
 (5.333333333333333, 'Kentucky', 1993),
 (8.0, 'Louisiana', 1993),
 (163.33333333333334, 'Maine', 1993),
 (4.333333333333333, 'Maryland', 1993),
 (4.0, 'Massachusetts', 1993),
 (11.0, 'Michigan', 1993),
 (3.0, 'Minnesota', 1993),
 (5.333333333333333, 'Mississippi', 1993),
 (6.333333333333333, 'Missouri', 1993),
 (467.6666666666667, 'Montana', 1993),
 (257.0, 'Nebraska', 1993),
 (1.3333333333333333, 'Nevada', 1993),
 (349.0, 'New Hampshire', 1993),
 (5.333333333333333, 'New Jersey', 1993),
 (2.3333333333333335, 'New Mexico', 1993),
 (16.333333333333332, 'New York', 1993),
 (9.666666666666666, 'North Carolina', 1993),
 (548.0, 'North Dakota', 1993),
 (13.666666666666666, 'Ohio', 1993),
 (4.666666666666667, 'Oklahoma', 1993),
 (3.0, 'Oregon', 1993),
 (10.666666666666666, 'Pennsylvania', 1993),
 (479.3333333333333, 'Rhode Island', 1993),
 (5.333333333333333, 'South Carolina', 1993),
 (395.3333333333333, 'South Dakota', 1993),
 (7.333333333333333, 'Tennessee', 1993),
 (33.0, 'Texas', 1993),
 (333.6666666666667, 'Total U.S.', 1993),
 (2.0, 'Utah', 1993),
 (427.3333333333333, 'Vermont', 1993),
 (6.333333333333333, 'Virginia', 1993),
 (5.0, 'Washington', 1993),
 (2.0, 'West Virginia', 1993),
 (4.333333333333333, 'Wisconsin', 1993),
 (606.6666666666666, 'Wyoming', 1993),
 (6.666666666666667, 'Alabama', 1994),
 (403.6666666666667, 'Alaska', 1994),
 (6.666666666666667, 'Arizona', 1994),
 (4.0, 'Arkansas', 1994),
 (45.0, 'California', 1994),
 (4.0, 'Colorado', 1994),
 (2.0, 'Connecticut', 1994),
 (441.0, 'Delaware', 1994),
 (516.0, 'District of Columbia', 1994),
 (16.666666666666668, 'Florida', 1994),
 (11.333333333333334, 'Georgia', 1994),
 (233.0, 'Hawaii', 1994),
 (263.6666666666667, 'Idaho', 1994),
 (15.666666666666666, 'Illinois', 1994),
 (7.333333333333333, 'Indiana', 1994),
 (2.0, 'Iowa', 1994),
 (2.6666666666666665, 'Kansas', 1994),
 (5.333333333333333, 'Kentucky', 1994),
 (8.0, 'Louisiana', 1994),
 (152.0, 'Maine', 1994),
 (4.333333333333333, 'Maryland', 1994),
 (3.6666666666666665, 'Massachusetts', 1994),
 (11.0, 'Michigan', 1994),
 (3.0, 'Minnesota', 1994),
 (5.333333333333333, 'Mississippi', 1994),
 (6.333333333333333, 'Missouri', 1994),
 (440.3333333333333, 'Montana', 1994),
 (284.6666666666667, 'Nebraska', 1994),
 (1.6666666666666667, 'Nevada', 1994),
 (350.6666666666667, 'New Hampshire', 1994),
 (5.666666666666667, 'New Jersey', 1994),
 (2.3333333333333335, 'New Mexico', 1994),
 (16.666666666666668, 'New York', 1994),
 (9.666666666666666, 'North Carolina', 1994),
 (530.6666666666666, 'North Dakota', 1994),
 (13.333333333333334, 'Ohio', 1994),
 (4.333333333333333, 'Oklahoma', 1994),
 (3.0, 'Oregon', 1994),
 (10.666666666666666, 'Pennsylvania', 1994),
 (463.3333333333333, 'Rhode Island', 1994),
 (5.333333333333333, 'South Carolina', 1994),
 (397.6666666666667, 'South Dakota', 1994),
 (7.666666666666667, 'Tennessee', 1994),
 (33.666666666666664, 'Texas', 1994),
 (336.6666666666667, 'Total U.S.', 1994),
 (2.3333333333333335, 'Utah', 1994),
 (411.3333333333333, 'Vermont', 1994),
 (6.333333333333333, 'Virginia', 1994),
 (5.333333333333333, 'Washington', 1994),
 (2.0, 'West Virginia', 1994),
 (4.0, 'Wisconsin', 1994),
 (614.0, 'Wyoming', 1994),
 (6.666666666666667, 'Alabama', 1995),
 (379.0, 'Alaska', 1995),
 (6.666666666666667, 'Arizona', 1995),
 (4.0, 'Arkansas', 1995),
 (43.666666666666664, 'California', 1995),
 (3.6666666666666665, 'Colorado', 1995),
 (2.0, 'Connecticut', 1995),
 (434.0, 'Delaware', 1995),
 (468.3333333333333, 'District of Columbia', 1995),
 (16.333333333333332, 'Florida', 1995),
 (11.333333333333334, 'Georgia', 1995),
 (206.66666666666666, 'Hawaii', 1995),
 (273.6666666666667, 'Idaho', 1995),
 (15.333333333333334, 'Illinois', 1995),
 (7.333333333333333, 'Indiana', 1995),
 (2.3333333333333335, 'Iowa', 1995),
 (2.6666666666666665, 'Kansas', 1995),
 (5.333333333333333, 'Kentucky', 1995),
 (7.666666666666667, 'Louisiana', 1995),
 (469.0, 'Maine', 1995),
 (4.333333333333333, 'Maryland', 1995),
 (3.6666666666666665, 'Massachusetts', 1995),
 (10.666666666666666, 'Michigan', 1995),
 (3.0, 'Minnesota', 1995),
 (5.333333333333333, 'Mississippi', 1995),
 (6.333333333333333, 'Missouri', 1995),
 (465.3333333333333, 'Montana', 1995),
 (269.6666666666667, 'Nebraska', 1995),
 (2.0, 'Nevada', 1995),
 (368.0, 'New Hampshire', 1995),
 (5.666666666666667, 'New Jersey', 1995),
 (2.3333333333333335, 'New Mexico', 1995),
 (16.0, 'New York', 1995),
 (9.666666666666666, 'North Carolina', 1995),
 (533.3333333333334, 'North Dakota', 1995),
 (13.0, 'Ohio', 1995),
 (4.333333333333333, 'Oklahoma', 1995),
 (3.0, 'Oregon', 1995),
 (10.0, 'Pennsylvania', 1995),
 (422.6666666666667, 'Rhode Island', 1995),
 (5.333333333333333, 'South Carolina', 1995),
 (393.3333333333333, 'South Dakota', 1995),
 (7.666666666666667, 'Tennessee', 1995),
 (34.666666666666664, 'Texas', 1995),
 (332.6666666666667, 'Total U.S.', 1995),
 (2.3333333333333335, 'Utah', 1995),
 (368.6666666666667, 'Vermont', 1995),
 (6.333333333333333, 'Virginia', 1995),
 (5.333333333333333, 'Washington', 1995),
 (2.0, 'West Virginia', 1995),
 (4.0, 'Wisconsin', 1995),
 (624.6666666666666, 'Wyoming', 1995),
 (6.666666666666667, 'Alabama', 1996),
 (365.6666666666667, 'Alaska', 1996),
 (7.0, 'Arizona', 1996),
 (4.333333333333333, 'Arkansas', 1996),
 (42.0, 'California', 1996),
 (4.0, 'Colorado', 1996),
 (2.0, 'Connecticut', 1996),
 (445.0, 'Delaware', 1996),
 (451.6666666666667, 'District of Columbia', 1996),
 (16.0, 'Florida', 1996),
 (11.333333333333334, 'Georgia', 1996),
 (213.33333333333334, 'Hawaii', 1996),
 (277.3333333333333, 'Idaho', 1996),
 (14.333333333333334, 'Illinois', 1996),
 (7.333333333333333, 'Indiana', 1996),
 (2.3333333333333335, 'Iowa', 1996),
 (2.6666666666666665, 'Kansas', 1996),
 (5.333333333333333, 'Kentucky', 1996),
 (7.333333333333333, 'Louisiana', 1996),
 (444.6666666666667, 'Maine', 1996),
 (4.333333333333333, 'Maryland', 1996),
 (3.3333333333333335, 'Massachusetts', 1996),
 (9.666666666666666, 'Michigan', 1996),
 (3.0, 'Minnesota', 1996),
 (5.0, 'Mississippi', 1996),
 (6.333333333333333, 'Missouri', 1996),
 (442.3333333333333, 'Montana', 1996),
 (281.3333333333333, 'Nebraska', 1996),
 (2.0, 'Nevada', 1996),
 (357.6666666666667, 'New Hampshire', 1996),
 (5.333333333333333, 'New Jersey', 1996),
 (2.3333333333333335, 'New Mexico', 1996),
 (15.333333333333334, 'New York', 1996),
 (9.666666666666666, 'North Carolina', 1996),
 (528.6666666666666, 'North Dakota', 1996),
 (12.666666666666666, 'Ohio', 1996),
 (4.333333333333333, 'Oklahoma', 1996),
 (3.3333333333333335, 'Oregon', 1996),
 (9.666666666666666, 'Pennsylvania', 1996),
 (428.6666666666667, 'Rhode Island', 1996),
 (5.333333333333333, 'South Carolina', 1996),
 (396.6666666666667, 'South Dakota', 1996),
 (7.666666666666667, 'Tennessee', 1996),
 (34.666666666666664, 'Texas', 1996),
 (327.0, 'Total U.S.', 1996),
 (2.3333333333333335, 'Utah', 1996),
 (400.6666666666667, 'Vermont', 1996),
 (6.0, 'Virginia', 1996),
 (5.333333333333333, 'Washington', 1996),
 (2.0, 'West Virginia', 1996),
 (4.0, 'Wisconsin', 1996),
 (599.3333333333334, 'Wyoming', 1996),
 (6.666666666666667, 'Alabama', 1997),
 (366.6666666666667, 'Alaska', 1997),
 (7.0, 'Arizona', 1997),
 (4.0, 'Arkansas', 1997),
 (39.333333333333336, 'California', 1997),
 (4.0, 'Colorado', 1997),
 (2.0, 'Connecticut', 1997),
 (448.0, 'Delaware', 1997),
 (395.0, 'District of Columbia', 1997),
 (16.333333333333332, 'Florida', 1997),
 (11.333333333333334, 'Georgia', 1997),
 (194.66666666666666, 'Hawaii', 1997),
 (248.33333333333334, 'Idaho', 1997),
 (14.333333333333334, 'Illinois', 1997),
 (7.333333333333333, 'Indiana', 1997),
 (2.0, 'Iowa', 1997),
 (2.6666666666666665, 'Kansas', 1997),
 (5.333333333333333, 'Kentucky', 1997),
 (7.333333333333333, 'Louisiana', 1997),
 (459.6666666666667, 'Maine', 1997),
 (4.333333333333333, 'Maryland', 1997),
 (3.3333333333333335, 'Massachusetts', 1997),
 (9.666666666666666, 'Michigan', 1997),
 (3.0, 'Minnesota', 1997),
 (5.0, 'Mississippi', 1997),
 (6.333333333333333, 'Missouri', 1997),
 (437.3333333333333, 'Montana', 1997),
 (277.3333333333333, 'Nebraska', 1997),
 (2.0, 'Nevada', 1997),
 (370.6666666666667, 'New Hampshire', 1997),
 (5.333333333333333, 'New Jersey', 1997),
 (2.3333333333333335, 'New Mexico', 1997),
 (14.666666666666666, 'New York', 1997),
 (9.666666666666666, 'North Carolina', 1997),
 (500.6666666666667, 'North Dakota', 1997),
 (12.333333333333334, 'Ohio', 1997),
 (5.0, 'Oklahoma', 1997),
 (3.0, 'Oregon', 1997),
 (9.333333333333334, 'Pennsylvania', 1997),
 (438.0, 'Rhode Island', 1997),
 (5.333333333333333, 'South Carolina', 1997),
 (408.3333333333333, 'South Dakota', 1997),
 (7.333333333333333, 'Tennessee', 1997),
 (34.666666666666664, 'Texas', 1997),
 (322.0, 'Total U.S.', 1997),
 (2.6666666666666665, 'Utah', 1997),
 (367.3333333333333, 'Vermont', 1997),
 (6.0, 'Virginia', 1997),
 (5.0, 'Washington', 1997),
 (2.0, 'West Virginia', 1997),
 (4.0, 'Wisconsin', 1997),
 (597.3333333333334, 'Wyoming', 1997),
 (6.333333333333333, 'Alabama', 1998),
 (367.3333333333333, 'Alaska', 1998),
 (7.333333333333333, 'Arizona', 1998),
 (4.0, 'Arkansas', 1998),
 (38.333333333333336, 'California', 1998),
 (4.333333333333333, 'Colorado', 1998),
 (2.0, 'Connecticut', 1998),
 (449.3333333333333, 'Delaware', 1998),
 (378.0, 'District of Columbia', 1998),
 (16.333333333333332, 'Florida', 1998),
 (11.333333333333334, 'Georgia', 1998),
 (229.33333333333334, 'Hawaii', 1998),
 (262.3333333333333, 'Idaho', 1998),
 (14.333333333333334, 'Illinois', 1998),
 (7.0, 'Indiana', 1998),
 (2.0, 'Iowa', 1998),
 (2.6666666666666665, 'Kansas', 1998),
 (5.0, 'Kentucky', 1998),
 (7.666666666666667, 'Louisiana', 1998),
 (442.3333333333333, 'Maine', 1998),
 (4.333333333333333, 'Maryland', 1998),
 (3.3333333333333335, 'Massachusetts', 1998),
 (10.0, 'Michigan', 1998),
 (3.0, 'Minnesota', 1998),
 (5.333333333333333, 'Mississippi', 1998),
 (6.333333333333333, 'Missouri', 1998),
 (439.0, 'Montana', 1998),
 (271.6666666666667, 'Nebraska', 1998),
 (2.0, 'Nevada', 1998),
 (365.0, 'New Hampshire', 1998),
 (5.333333333333333, 'New Jersey', 1998),
 (2.3333333333333335, 'New Mexico', 1998),
 (14.333333333333334, 'New York', 1998),
 (9.666666666666666, 'North Carolina', 1998),
 (516.6666666666666, 'North Dakota', 1998),
 (12.666666666666666, 'Ohio', 1998),
 (4.666666666666667, 'Oklahoma', 1998),
 (3.0, 'Oregon', 1998),
 (9.333333333333334, 'Pennsylvania', 1998),
 (431.3333333333333, 'Rhode Island', 1998),
 (5.333333333333333, 'South Carolina', 1998),
 (405.0, 'South Dakota', 1998),
 (7.666666666666667, 'Tennessee', 1998),
 (35.666666666666664, 'Texas', 1998),
 (322.6666666666667, 'Total U.S.', 1998),
 (2.6666666666666665, 'Utah', 1998),
 (342.6666666666667, 'Vermont', 1998),
 (6.0, 'Virginia', 1998),
 (5.0, 'Washington', 1998),
 (2.0, 'West Virginia', 1998),
 (4.0, 'Wisconsin', 1998),
 (335.6666666666667, 'Wyoming', 1998),
 (6.0, 'Alabama', 1999),
 (374.6666666666667, 'Alaska', 1999),
 (7.333333333333333, 'Arizona', 1999),
 (4.0, 'Arkansas', 1999),
 (37.333333333333336, 'California', 1999),
 (4.333333333333333, 'Colorado', 1999),
 (2.0, 'Connecticut', 1999),
 (461.6666666666667, 'Delaware', 1999),
 (359.0, 'District of Columbia', 1999),
 (16.0, 'Florida', 1999),
 (11.666666666666666, 'Georgia', 1999),
 (193.33333333333334, 'Hawaii', 1999),
 (265.3333333333333, 'Idaho', 1999),
 (14.0, 'Illinois', 1999),
 (7.0, 'Indiana', 1999),
 (2.0, 'Iowa', 1999),
 (2.6666666666666665, 'Kansas', 1999),
 (5.0, 'Kentucky', 1999),
 (7.333333333333333, 'Louisiana', 1999),
 (438.0, 'Maine', 1999),
 (4.333333333333333, 'Maryland', 1999),
 (3.0, 'Massachusetts', 1999),
 (9.0, 'Michigan', 1999),
 (3.0, 'Minnesota', 1999),
 (5.0, 'Mississippi', 1999),
 (6.333333333333333, 'Missouri', 1999),
 (416.6666666666667, 'Montana', 1999),
 (264.6666666666667, 'Nebraska', 1999),
 (2.0, 'Nevada', 1999),
 (664.6666666666666, 'New Hampshire', 1999),
 (5.0, 'New Jersey', 1999),
 (2.3333333333333335, 'New Mexico', 1999),
 (14.0, 'New York', 1999),
 (9.666666666666666, 'North Carolina', 1999),
 (468.6666666666667, 'North Dakota', 1999),
 (11.666666666666666, 'Ohio', 1999),
 (4.666666666666667, 'Oklahoma', 1999),
 (3.0, 'Oregon', 1999),
 (9.333333333333334, 'Pennsylvania', 1999),
 (407.6666666666667, 'Rhode Island', 1999),
 (5.333333333333333, 'South Carolina', 1999),
 (392.0, 'South Dakota', 1999),
 (7.0, 'Tennessee', 1999),
 (36.0, 'Texas', 1999),
 (317.0, 'Total U.S.', 1999),
 (2.3333333333333335, 'Utah', 1999),
 (366.0, 'Vermont', 1999),
 (6.0, 'Virginia', 1999),
 (5.0, 'Washington', 1999),
 (303.0, 'West Virginia', 1999),
 (4.333333333333333, 'Wisconsin', 1999),
 (563.3333333333334, 'Wyoming', 1999),
 (6.0, 'Alabama', 2000),
 (387.6666666666667, 'Alaska', 2000),
 (7.666666666666667, 'Arizona', 2000),
 (4.0, 'Arkansas', 2000),
 (36.333333333333336, 'California', 2000),
 (4.333333333333333, 'Colorado', 2000),
 (2.0, 'Connecticut', 2000),
 (443.6666666666667, 'Delaware', 2000),
 (352.6666666666667, 'District of Columbia', 2000),
 (16.333333333333332, 'Florida', 2000),
 (11.333333333333334, 'Georgia', 2000),
 (181.33333333333334, 'Hawaii', 2000),
 (224.66666666666666, 'Idaho', 2000),
 (13.333333333333334, 'Illinois', 2000),
 (6.666666666666667, 'Indiana', 2000),
 (2.0, 'Iowa', 2000),
 (2.6666666666666665, 'Kansas', 2000),
 (4.666666666666667, 'Kentucky', 2000),
 (7.0, 'Louisiana', 2000),
 (424.6666666666667, 'Maine', 2000),
 (4.333333333333333, 'Maryland', 2000),
 (3.0, 'Massachusetts', 2000),
 (9.0, 'Michigan', 2000),
 (3.0, 'Minnesota', 2000),
 (5.0, 'Mississippi', 2000),
 (6.0, 'Missouri', 2000),
 (423.0, 'Montana', 2000),
 (252.0, 'Nebraska', 2000),
 (2.0, 'Nevada', 2000),
 (663.3333333333334, 'New Hampshire', 2000),

In [57]:
start_end_births = session.query(func.avg(birth_rates.columns.state_births),birth_rates.columns.state,birth_rates.columns.year).\
    filter(birth_rates.columns.state== "Alabama").filter(birth_rates.columns.year=="1990").all()
start_end_births

[(7.333333333333333, 'Alabama', 1990)]

In [58]:
type(start_end_births)

list

In [60]:
year_start = session.query(func.min(birth_rates.columns.state_births),func.max(birth_rates.columns.state_births),birth_rates.columns.state, birth_rates.columns.year).\
    group_by(birth_rates.columns.year, birth_rates.columns.state).all()
year_start

[('11,252', '7,030', 'Alabama', 1990),
 ('1,142', '807', 'Alaska', 1990),
 ('3,436', '9,612', 'Arizona', 1990),
 ('2,549', '7,011', 'Arkansas', 1990),
 ('24,880', '69,712', 'California', 1990),
 ('2,061', '5,975', 'Colorado', 1990),
 ('1,519', '4,038', 'Connecticut', 1990),
 ('1,277', '815', 'Delaware', 1990),
 ('1,189', '841', 'District of Columbia', 1990),
 ('17,099', '9,918', 'Florida', 1990),
 ('11,491', '6,878', 'Georgia', 1990),
 ('1,461', '661', 'Hawaii', 1990),
 ('1,398', '611', 'Idaho', 1990),
 ('15,900', '9,067', 'Illinois', 1990),
 ('12,335', '8,205', 'Indiana', 1990),
 ('1,120', '3,989', 'Iowa', 1990),
 ('1,449', '4,722', 'Kansas', 1990),
 ('3,204', '9,349', 'Kentucky', 1990),
 ('12,270', '7,617', 'Louisiana', 1990),
 ('1,287', '570', 'Maine', 1990),
 ('2,866', '8,143', 'Maryland', 1990),
 ('2,502', '7,266', 'Massachusetts', 1990),
 ('13,305', '7,007', 'Michigan', 1990),
 ('1,650', '5,342', 'Minnesota', 1990),
 ('3,544', '8,909', 'Mississippi', 1990),
 ('11,227', '7,286', 'Missouri', 1990),
 ('1,331', '932', 'Montana', 1990),
 ('1,624', '728', 'Nebraska', 1990),
 ('1,774', '889', 'Nevada', 1990),
 ('1,258', '910', 'New Hampshire', 1990),
 ('10,068', '6,574', 'New Jersey', 1990),
 ('1,560', '4,367', 'New Mexico', 1990),
 ('17,348', '9,260', 'New York', 1990),
 ('10,560', '5,946', 'North Carolina', 1990),
 ('201', '793', 'North Dakota', 1990),
 ('15,135', '7,555', 'Ohio', 1990),
 ('2,528', '7,590', 'Oklahoma', 1990),
 ('1,659', '5,084', 'Oregon', 1990),
 ('11,919', '6,297', 'Pennsylvania', 1990),
 ('1,012', '552', 'Rhode Island', 1990),
 ('3,540', '9,721', 'South Carolina', 1990),
 ('1,172', '824', 'South Dakota', 1990),
 ('12,928', '8,413', 'Tennessee', 1990),
 ('17,693', '48,302', 'Texas', 1990),
 ('183,327', '521,826', 'Total U.S.', 1990),
 ('1,161', '3,707', 'Utah', 1990),
 ('209', '702', 'Vermont', 1990),
 ('11,353', '7,607', 'Virginia', 1990),
 ('2,677', '8,397', 'Washington', 1990),
 ('1,313', '3,976', 'West Virginia', 1990),
 ('2,329', '7,281', 'Wisconsin', 1990),
 ('304', '943', 'Wyoming', 1990),
 ('11,272', '7,070', 'Alabama', 1991),
 ('1,215', '820', 'Alaska', 1991),
 ('3,728', '9,922', 'Arizona', 1991),
 ('2,493', '6,880', 'Arkansas', 1991),
 ('25,950', '70,442', 'California', 1991),
 ('2,234', '6,259', 'Colorado', 1991),
 ('1,465', '3,903', 'Connecticut', 1991),
 ('1,320', '834', 'Delaware', 1991),
 ('1,093', '856', 'District of Columbia', 1991),
 ('16,463', '9,737', 'Florida', 1991),
 ('11,055', '6,841', 'Georgia', 1991),
 ('1,366', '707', 'Hawaii', 1991),
 ('1,497', '724', 'Idaho', 1991),
 ('15,624', '9,038', 'Illinois', 1991),
 ('12,148', '8,053', 'Indiana', 1991),
 ('1,278', '4,044', 'Iowa', 1991),
 ('1,433', '4,534', 'Kansas', 1991),
 ('3,342', '9,253', 'Kentucky', 1991),
 ('12,286', '7,484', 'Louisiana', 1991),
 ('1,238', '567', 'Maine', 1991),
 ('2,966', '7,947', 'Maryland', 1991),
 ('2,519', '6,896', 'Massachusetts', 1991),
 ('12,632', '6,773', 'Michigan', 1991),
 ('1,749', '5,345', 'Minnesota', 1991),
 ('3,670', '9,062', 'Mississippi', 1991),
 ('11,121', '7,209', 'Missouri', 1991),
 ('1,311', '909', 'Montana', 1991),
 ('1,568', '761', 'Nebraska', 1991),
 ('1,836', '962', 'Nevada', 1991),
 ('1,156', '821', 'New Hampshire', 1991),
 ('3,685', '9,901', 'New Jersey', 1991),
 ('1,695', '4,518', 'New Mexico', 1991),
 ('16,645', '9,586', 'New York', 1991),
 ('10,128', '6,004', 'North Carolina', 1991),
 ('235', '769', 'North Dakota', 1991),
 ('14,846', '7,875', 'Ohio', 1991),
 ('2,733', '8,040', 'Oklahoma', 1991),
 ('1,765', '5,140', 'Oregon', 1991),
 ('11,506', '6,348', 'Pennsylvania', 1991),
 ('1,408', '902', 'Rhode Island', 1991),
 ('3,569', '9,515', 'South Carolina', 1991),
 ('1,192', '797', 'South Dakota', 1991),
 ('12,868', '8,156', 'Tennessee', 1991),
 ('18,653', '49,588', 'Texas', 1991),
 ('188,226', '519,577', 'Total U.S.', 1991),
 ('1,275', '3,829', 'Utah', 1991),
 ('225', '739', 'Vermont', 1991),
 ('10,890', '7,242', 'Virginia', 1991),
 ('2,907', '8,490', 'Washington', 1991),
 ('1,272', '3,900', 'West Virginia', 1991),
 ('2,439', '7,270', 'Wisconsin', 1991),
 ('277', '928', 'Wyoming', 1991),
 ('10,960', '6,844', 'Alabama', 1992),
 ('1,260', '851', 'Alaska', 1992),
 ('10,147', '6,305', 'Arizona', 1992),
 ('2,403', '6,554', 'Arkansas', 1992),
 ('26,010', '69,401', 'California', 1992),
 ('2,423', '6,401', 'Colorado', 1992),
 ('1,441', '3,701', 'Connecticut', 1992),
 ('1,265', '720', 'Delaware', 1992),
 ('1,005', '699', 'District of Columbia', 1992),
 ('15,654', '9,559', 'Florida', 1992),
 ('10,800', '6,662', 'Georgia', 1992),
 ('1,296', '660', 'Hawaii', 1992),
 ('1,481', '748', 'Idaho', 1992),
 ('14,852', '9,129', 'Illinois', 1992),
 ('11,668', '7,587', 'Indiana', 1992),
 ('1,223', '3,872', 'Iowa', 1992),
 ('1,536', '4,640', 'Kansas', 1992),
 ('3,112', '8,710', 'Kentucky', 1992),
 ('12,392', '7,321', 'Louisiana', 1992),
 ('1,116', '509', 'Maine', 1992),
 ('2,812', '7,356', 'Maryland', 1992),
 ('2,448', '6,558', 'Massachusetts', 1992),
 ('11,896', '6,478', 'Michigan', 1992),
 ('1,804', '5,210', 'Minnesota', 1992),
 ('3,662', '8,810', 'Mississippi', 1992),
 ('10,857', '6,910', 'Missouri', 1992),
 ('1,345', '884', 'Montana', 1992),
 ('1,526', '759', 'Nebraska', 1992),
 ('1,747', '972', 'Nevada', 1992),
 ('1,062', '768', 'New Hampshire', 1992),
 ('3,439', '9,262', 'New Jersey', 1992),
 ('1,808', '4,670', 'New Mexico', 1992),
 ('15,705', '9,658', 'New York', 1992),
 ('15,653', '9,907', 'North Carolina', 1992),
 ('239', '811', 'North Dakota', 1992),
 ('13,873', '7,666', 'Ohio', 1992),
 ('2,778', '7,858', 'Oklahoma', 1992),
 ('1,795', '5,125', 'Oregon', 1992),
 ('10,527', '6,308', 'Pennsylvania', 1992),
 ('1,381', '881', 'Rhode Island', 1992),
 ('3,434', '9,052', 'South Carolina', 1992),
 ('1,245', '821', 'South Dakota', 1992),
 ('12,127', '7,667', 'Tennessee', 1992),
 ('19,296', '49,805', 'Texas', 1992),
 ('187,549', '505,415', 'Total U.S.', 1992),
 ('1,338', '3,869', 'Utah', 1992),
 ('186', '649', 'Vermont', 1992),
 ('10,465', '6,843', 'Virginia', 1992),
 ('3,039', '8,303', 'Washington', 1992),
 ('1,299', '3,758', 'West Virginia', 1992),
 ('2,427', '7,050', 'Wisconsin', 1992),
 ('272', '878', 'Wyoming', 1992),
 ('10,645', '6,367', 'Alabama', 1993),
 ('1,183', '767', 'Alaska', 1993),
 ('10,252', '6,384', 'Arizona', 1993),
 ('2,388', '6,486', 'Arkansas', 1993),
 ('26,352', '68,643', 'California', 1993),
 ('2,431', '6,324', 'Colorado', 1993),
 ('1,478', '3,655', 'Connecticut', 1993),
 ('1,277', '781', 'Delaware', 1993),
 ('1,766', '982', 'District of Columbia', 1993),
 ('15,308', '9,729', 'Florida', 1993),
 ('10,350', '6,880', 'Georgia', 1993),
 ('1,327', '633', 'Hawaii', 1993),
 ('1,500', '809', 'Idaho', 1993),
 ('14,331', '9,445', 'Illinois', 1993),
 ('11,690', '7,617', 'Indiana', 1993),
 ('1,376', '4,003', 'Iowa', 1993),
 ('1,615', '4,767', 'Kansas', 1993),
 ('3,222', '8,692', 'Kentucky', 1993),
 ('12,551', '7,375', 'Louisiana', 1993),
 ('1,017', '488', 'Maine', 1993),
 ('2,945', '7,253', 'Maryland', 1993),
 ('2,361', '6,473', 'Massachusetts', 1993),
 ('10,857', '6,369', 'Michigan', 1993),
 ('1,861', '5,216', 'Minnesota', 1993),
 ('3,611', '8,768', 'Mississippi', 1993),
 ('10,431', '6,576', 'Missouri', 1993),
 ('1,402', '903', 'Montana', 1993),
 ('1,537', '768', 'Nebraska', 1993),
 ('1,082', '2,922', 'Nevada', 1993),
 ('1,046', '744', 'New Hampshire', 1993),
 ('3,572', '8,999', 'New Jersey', 1993),
 ('1,958', '4,873', 'New Mexico', 1993),
 ('15,586', '9,953', 'New York', 1993),
 ('15,113', '9,370', 'North Carolina', 1993),
 ('242', '822', 'North Dakota', 1993),
 ('13,434', '7,739', 'Ohio', 1993),
 ('2,772', '7,807', 'Oklahoma', 1993),
 ('1,843', '5,092', 'Oregon', 1993),
 ('10,205', '6,303', 'Pennsylvania', 1993),
 ('1,437', '865', 'Rhode Island', 1993),
 ('3,279', '8,448', 'South Carolina', 1993),
 ('1,185', '779', 'South Dakota', 1993),
 ('11,992', '7,573', 'Tennessee', 1993),
 ('19,812', '50,425', 'Texas', 1993),
 ('190,535', '501,093', 'Total U.S.', 1993),
 ('1,400', '3,951', 'Utah', 1993),
 ('186', '641', 'Vermont', 1993),
 ('10,104', '6,483', 'Virginia', 1993),
 ('2,997', '8,483', 'Washington', 1993),
 ('1,341', '3,738', 'West Virginia', 1993),
 ('2,483', '7,060', 'Wisconsin', 1993),
 ('304', '910', 'Wyoming', 1993),
 ('10,999', '6,402', 'Alabama', 1994),
 ('1,210', '784', 'Alaska', 1994),
 ('10,589', '6,462', 'Arizona', 1994),
 ('2,593', '6,797', 'Arkansas', 1994),
 ('26,423', '68,332', 'California', 1994),
 ('2,517', '6,526', 'Colorado', 1994),
 ('1,652', '3,776', 'Connecticut', 1994),
 ('1,322', '740', 'Delaware', 1994),
 ('1,547', '865', 'District of Columbia', 1994),
 ('10,145', '25,435', 'Florida', 1994),
 ('10,232', '7,105', 'Georgia', 1994),
 ('1,321', '696', 'Hawaii', 1994),
 ('1,460', '788', 'Idaho', 1994),
 ('14,441', '9,590', 'Illinois', 1994),
 ('11,739', '7,499', 'Indiana', 1994),
 ('1,403', '3,991', 'Iowa', 1994),
 ('1,648', '4,741', 'Kansas', 1994),
 ('3,306', '8,919', 'Kentucky', 1994),
 ('12,633', '7,433', 'Louisiana', 1994),
 ('1,005', '454', 'Maine', 1994),
 ('2,913', '7,332', 'Maryland', 1994),
 ('2,432', '6,415', 'Massachusetts', 1994),
 ('10,760', '6,303', 'Michigan', 1994),
 ('1,896', '5,336', 'Minnesota', 1994),
 ('3,739', '8,897', 'Mississippi', 1994),
 ('10,584', '6,712', 'Missouri', 1994),
 ('1,320', '882', 'Montana', 1994),
 ('1,658', '851', 'Nebraska', 1994),
 ('1,214', '3,134', 'Nevada', 1994),
 ('1,051', '740', 'New Hampshire', 1994),
 ('3,700', '9,345', 'New Jersey', 1994),
 ('1,988', '4,841', 'New Mexico', 1994),
 ('10,054', '25,729', 'New York', 1994),
 ('15,224', '9,243', 'North Carolina', 1994),
 ('218', '796', 'North Dakota', 1994),
 ('13,125', '7,698', 'Ohio', 1994),
 ('2,855', '7,670', 'Oklahoma', 1994),
 ('1,904', '5,240', 'Oregon', 1994),
 ('10,103', '6,373', 'Pennsylvania', 1994),
 ('1,389', '821', 'Rhode Island', 1994),
 ('3,506', '8,585', 'South Carolina', 1994),
 ('1,192', '800', 'South Dakota', 1994),
 ('12,350', '7,803', 'Tennessee', 1994),
 ('20,680', '51,471', 'Texas', 1994),
 ('195,169', '505,488', 'Total U.S.', 1994),
 ('1,433', '4,043', 'Utah', 1994),
 ('187', '617', 'Vermont', 1994),
 ('10,470', '6,672', 'Virginia', 1994),
 ('3,039', '8,467', 'Washington', 1994),
 ('1,320', '3,674', 'West Virginia', 1994),
 ('2,489', '6,876', 'Wisconsin', 1994),
 ('296', '921', 'Wyoming', 1994),
 ('10,857', '6,510', 'Alabama', 1995),
 ('1,136', '734', 'Alaska', 1995),
 ('10,745', '6,567', 'Arizona', 1995),
 ('2,628', '6,710', 'Arkansas', 1995),
 ('25,861', '66,764', 'California', 1995),
 ('2,511', '6,464', 'Colorado', 1995),
 ('1,555', '3,716', 'Connecticut', 1995),
 ('1,301', '766', 'Delaware', 1995),
 ('1,404', '812', 'District of Columbia', 1995),
 ('15,095', '9,993', 'Florida', 1995),
 ('10,376', '7,351', 'Georgia', 1995),
 ('1,223', '618', 'Hawaii', 1995),
 ('1,671', '818', 'Idaho', 1995),
 ('14,221', '9,246', 'Illinois', 1995),
 ('11,933', '7,585', 'Indiana', 1995),
 ('1,415', '4,024', 'Iowa', 1995),
 ('1,692', '4,801', 'Kansas', 1995),
 ('3,305', '8,819', 'Kentucky', 1995),
 ('12,208', '7,461', 'Louisiana', 1995),
 ('1,406', '913', 'Maine', 1995),
 ('2,964', '7,211', 'Maryland', 1995),
 ('2,282', '6,001', 'Massachusetts', 1995),
 ('10,306', '6,161', 'Michigan', 1995),
 ('1,951', '5,241', 'Minnesota', 1995),
 ('3,813', '8,848', 'Mississippi', 1995),
 ('10,282', '6,582', 'Missouri', 1995),
 ('1,395', '927', 'Montana', 1995),
 ('1,477', '806', 'Nebraska', 1995),
 ('1,236', '3,351', 'Nevada', 1995),
 ('1,103', '774', 'New Hampshire', 1995),
 ('3,613', '9,151', 'New Jersey', 1995),
 ('1,951', '4,844', 'New Mexico', 1995),
 ('15,434', '9,392', 'New York', 1995),
 ('15,049', '9,157', 'North Carolina', 1995),
 ('262', '800', 'North Dakota', 1995),
 ('12,978', '7,653', 'Ohio', 1995),
 ('2,814', '7,639', 'Oklahoma', 1995),
 ('1,981', '5,448', 'Oregon', 1995),
 ('15,979', '9,845', 'Pennsylvania', 1995),
 ('1,267', '792', 'Rhode Island', 1995),
 ('3,388', '8,518', 'South Carolina', 1995),
 ('1,179', '798', 'South Dakota', 1995),
 ('12,118', '7,565', 'Tennessee', 1995),
 ('21,018', '52,135', 'Texas', 1995),
 ('192,508', '499,873', 'Total U.S.', 1995),
 ('1,488', '4,222', 'Utah', 1995),
 ('128', '553', 'Vermont', 1995),
 ('10,270', '6,435', 'Virginia', 1995),
 ('3,122', '8,709', 'Washington', 1995),
 ('1,238', '3,584', 'West Virginia', 1995),
 ('2,541', '6,932', 'Wisconsin', 1995),
 ('304', '937', 'Wyoming', 1995),
 ('10,807', '6,600', 'Alabama', 1996),
 ('1,096', '726', 'Alaska', 1996),
 ('11,009', '6,683', 'Arizona', 1996),
 ('2,528', '7,026', 'Arkansas', 1996),
 ('24,088', '63,222', 'California', 1996),
 ('2,430', '6,541', 'Colorado', 1996),
 ('1,443', '3,578', 'Connecticut', 1996),
 ('1,334', '765', 'Delaware', 1996),
 ('1,354', '759', 'District of Columbia', 1996),
 ('15,297', '9,509', 'Florida', 1996),
 ('10,516', '7,132', 'Georgia', 1996),
 ('1,246', '638', 'Hawaii', 1996),
 ('1,657', '829', 'Idaho', 1996),
 ('13,918', '8,913', 'Illinois', 1996),
 ('11,875', '7,671', 'Indiana', 1996),
 ('1,397', '4,047', 'Iowa', 1996),
 ('1,619', '4,714', 'Kansas', 1996),
 ('3,154', '8,786', 'Kentucky', 1996),
 ('11,945', '7,338', 'Louisiana', 1996),
 ('1,333', '897', 'Maine', 1996),
 ('2,841', '7,186', 'Maryland', 1996),
 ('2,143', '5,761', 'Massachusetts', 1996),
 ('15,909', '9,994', 'Michigan', 1996),
 ('1,937', '5,417', 'Minnesota', 1996),
 ('3,501', '8,451', 'Mississippi', 1996),
 ('10,262', '6,624', 'Missouri', 1996),
 ('1,326', '881', 'Montana', 1996),
 ('1,593', '841', 'Nebraska', 1996),
 ('1,265', '3,402', 'Nevada', 1996),
 ('1,072', '719', 'New Hampshire', 1996),
 ('3,435', '8,639', 'New Jersey', 1996),
 ('1,892', '4,775', 'New Mexico', 1996),
 ('15,109', '8,767', 'New York', 1996),
 ('15,296', '9,385', 'North Carolina', 1996),
 ('242', '793', 'North Dakota', 1996),
 ('12,780', '7,071', 'Ohio', 1996),
 ('2,794', '7,780', 'Oklahoma', 1996),
 ('2,017', '5,681', 'Oregon', 1996),
 ('15,330', '9,519', 'Pennsylvania', 1996),
 ('1,285', '786', 'Rhode Island', 1996),
 ('3,259', '8,362', 'South Carolina', 1996),
 ('1,189', '780', 'South Dakota', 1996),
 ('12,061', '7,621', 'Tennessee', 1996),
 ('21,065', '52,273', 'Texas', 1996),
 ('185,721', '491,577', 'Total U.S.', 1996),
 ('1,462', '4,438', 'Utah', 1996),
 ('187', '601', 'Vermont', 1996),
 ('3,571', '9,912', 'Virginia', 1996),
 ('3,036', '8,609', 'Washington', 1996),
 ('1,158', '3,420', 'West Virginia', 1996),
 ('2,507', '6,965', 'Wisconsin', 1996),
 ('315', '899', 'Wyoming', 1996),
 ('10,461', '6,428', 'Alabama', 1997),
 ('1,099', '729', 'Alaska', 1997),
 ('11,035', '6,740', 'Arizona', 1997),
 ('2,437', '6,835', 'Arkansas', 1997),
 ('23,096', '59,955', 'California', 1997),
 ('2,519', '6,645', 'Colorado', 1997),
 ('1,344', '3,498', 'Connecticut', 1997),
 ('1,343', '819', 'Delaware', 1997),
 ('1,184', '708', 'District of Columbia', 1997),
 ('15,719', '9,449', 'Florida', 1997),
 ('10,756', '7,091', 'Georgia', 1997),
 ('1,151', '582', 'Hawaii', 1997),
 ('1,588', '742', 'Idaho', 1997),
 ('13,559', '8,642', 'Illinois', 1997),
 ('11,577', '7,439', 'Indiana', 1997),
 ('1,333', '3,888', 'Iowa', 1997),
 ('1,655', '4,758', 'Kansas', 1997),
 ('3,008', '8,524', 'Kentucky', 1997),
 ('11,963', '7,464', 'Louisiana', 1997),
 ('1,378', '971', 'Maine', 1997),
 ('2,755', '7,002', 'Maryland', 1997),
 ('2,107', '5,805', 'Massachusetts', 1997),
 ('15,383', '9,987', 'Michigan', 1997),
 ('1,918', '5,583', 'Minnesota', 1997),
 ('3,390', '8,307', 'Mississippi', 1997),
 ('10,095', '6,536', 'Missouri', 1997),
 ('1,311', '883', 'Montana', 1997),
 ('1,568', '829', 'Nebraska', 1997),
 ('1,374', '3,559', 'Nevada', 1997),
 ('1,111', '773', 'New Hampshire', 1997),
 ('3,233', '8,643', 'New Jersey', 1997),
 ('1,873', '4,706', 'New Mexico', 1997),
 ('14,116', '8,081', 'New York', 1997),
 ('15,032', '9,451', 'North Carolina', 1997),
 ('219', '751', 'North Dakota', 1997),
 ('12,959', '6,935', 'Ohio', 1997),
 ('2,867', '8,058', 'Oklahoma', 1997),
 ('1,890', '5,356', 'Oregon', 1997),
 ('14,691', '9,427', 'Pennsylvania', 1997),
 ('1,313', '801', 'Rhode Island', 1997),
 ('3,238', '8,341', 'South Carolina', 1997),
 ('1,224', '823', 'South Dakota', 1997),
 ('11,889', '7,609', 'Tennessee', 1997),
 ('21,104', '52,728', 'Texas', 1997),
 ('180,154', '483,220', 'Total U.S.', 1997),
 ('1,443', '4,503', 'Utah', 1997),
 ('153', '551', 'Vermont', 1997),
 ('3,456', '9,850', 'Virginia', 1997),
 ('2,967', '8,421', 'Washington', 1997),
 ('1,081', '3,268', 'West Virginia', 1997),
 ('2,544', '6,933', 'Wisconsin', 1997),
 ('298', '896', 'Wyoming', 1997),
 ('10,393', '6,612', 'Alabama', 1998),
 ('1,101', '715', 'Alaska', 1998),
 ('11,561', '7,131', 'Arizona', 1998),
 ('2,330', '6,691', 'Arkansas', 1998),
 ('21,637', '58,170', 'California', 1998),
 ('2,549', '7,060', 'Colorado', 1998),
 ('1,303', '3,555', 'Connecticut', 1998),
 ('1,347', '857', 'Delaware', 1998),
 ('1,133', '677', 'District of Columbia', 1998),
 ('15,953', '9,275', 'Florida', 1998),
 ('11,285', '6,582', 'Georgia', 1998),
 ('1,163', '686', 'Hawaii', 1998),
 ('1,673', '784', 'Idaho', 1998),
 ('13,892', '8,288', 'Illinois', 1998),
 ('11,570', '7,816', 'Indiana', 1998),
 ('1,235', '3,900', 'Iowa', 1998),
 ('1,528', '4,805', 'Kansas', 1998),
 ('2,706', '8,250', 'Kentucky', 1998),
 ('12,033', '7,694', 'Louisiana', 1998),
 ('1,326', '930', 'Maine', 1998),
 ('2,673', '7,139', 'Maryland', 1998),
 ('2,053', '5,823', 'Massachusetts', 1998),
 ('10,098', '5,163', 'Michigan', 1998),
 ('1,819', '5,522', 'Minnesota', 1998),
 ('3,183', '8,318', 'Mississippi', 1998),
 ('10,281', '6,799', 'Missouri', 1998),
 ('1,316', '894', 'Montana', 1998),
 ('1,639', '812', 'Nebraska', 1998),
 ('1,317', '3,700', 'Nevada', 1998),
 ('1,094', '765', 'New Hampshire', 1998),
 ('3,091', '8,708', 'New Jersey', 1998),
 ('1,901', '4,865', 'New Mexico', 1998),
 ('14,586', '7,758', 'New York', 1998),
 ('15,325', '9,845', 'North Carolina', 1998),
 ('248', '775', 'North Dakota', 1998),
 ('13,057', '6,507', 'Ohio', 1998),
 ('2,736', '7,954', 'Oklahoma', 1998),
 ('1,874', '5,571', 'Oregon', 1998),
 ('14,849', '9,549', 'Pennsylvania', 1998),
 ('1,293', '832', 'Rhode Island', 1998),
 ('3,224', '8,391', 'South Carolina', 1998),
 ('1,214', '847', 'South Dakota', 1998),
 ('12,046', '7,850', 'Tennessee', 1998),
 ('20,599', '54,004', 'Texas', 1998),
 ('173,231', '484,895', 'Total U.S.', 1998),
 ('1,355', '4,389', 'Utah', 1998),
 ('146', '514', 'Vermont', 1998),
 ('3,254', '9,945', 'Virginia', 1998),
 ('2,887', '8,591', 'Washington', 1998),
 ('1,004', '3,225', 'West Virginia', 1998),
 ('2,363', '6,941', 'Wisconsin', 1998),
 ('1,006', '714', 'Wyoming', 1998),
 ('3,459', '9,850', 'Alabama', 1999),
 ('1,123', '727', 'Alaska', 1999),
 ('11,789', '7,546', 'Arizona', 1999),
 ('2,098', '6,434', 'Arkansas', 1999),
 ('20,230', '56,635', 'California', 1999),
 ('2,579', '7,251', 'Colorado', 1999),
 ('1,191', '3,386', 'Connecticut', 1999),
 ('1,384', '888', 'Delaware', 1999),
 ('1,076', '638', 'District of Columbia', 1999),
 ('16,142', '8,770', 'Florida', 1999),
 ('11,791', '6,236', 'Georgia', 1999),
 ('1,181', '578', 'Hawaii', 1999),
 ('1,603', '793', 'Idaho', 1999),
 ('14,009', '7,408', 'Illinois', 1999),
 ('11,189', '7,650', 'Indiana', 1999),
 ('1,199', '3,948', 'Iowa', 1999),
 ('1,499', '4,920', 'Kansas', 1999),
 ('2,524', '8,045', 'Kentucky', 1999),
 ('11,538', '7,515', 'Louisiana', 1999),
 ('1,313', '940', 'Maine', 1999),
 ('2,608', '7,238', 'Maryland', 1999),
 ('1,861', '5,524', 'Massachusetts', 1999),
 ('14,547', '9,792', 'Michigan', 1999),
 ('1,805', '5,503', 'Minnesota', 1999),
 ('2,961', '8,200', 'Mississippi', 1999),
 ('10,006', '6,765', 'Missouri', 1999),
 ('1,249', '854', 'Montana', 1999),
 ('1,679', '791', 'Nebraska', 1999),
 ('1,336', '3,777', 'Nevada', 1999),
 ('271', '997', 'New Hampshire', 1999),
 ('2,786', '8,282', 'New Jersey', 1999),
 ('1,814', '4,753', 'New Mexico', 1999),
 ('14,181', '7,308', 'New York', 1999),
 ('15,049', '9,769', 'North Carolina', 1999),
 ('198', '703', 'North Dakota', 1999),
 ('12,716', '5,994', 'Ohio', 1999),
 ('2,579', '7,850', 'Oklahoma', 1999),
 ('1,795', '5,492', 'Oregon', 1999),