In [1]:
from flask import Flask, render_template, jsonify
import pandas as pd
from sqlalchemy import create_engine, func
import os
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from datetime import datetime as dt

In [2]:
engine_sqlite = create_engine('sqlite:///teen_births.sqlite')

In [3]:
pd.read_sql("select * from birth_rates", engine_sqlite)

,Year,State,Age Group,State Rate,State Births,US Births,US Birth Rate,Unit
0,1990,Alabama,15-17 years,47.4,"4,222","183,327",37.5,"per 1,000"
1,1990,Alaska,15-17 years,31.2,335,"183,327",37.5,"per 1,000"
2,1990,Arizona,15-17 years,47.7,"3,436","183,327",37.5,"per 1,000"
3,1990,Arkansas,15-17 years,50.4,"2,549","183,327",37.5,"per 1,000"
4,1990,California,15-17 years,44.6,"24,880","183,327",37.5,"per 1,000"
...,...,...,...,...,...,...,...,...
4675,2019,Virginia,18-19 years,25.1,"2,800","130,593",31.1,"per 1,000"
4676,2019,Washington,18-19 years,25.4,"2,189","130,593",31.1,"per 1,000"
4677,2019,West Virginia,18-19 years,49.3,"1,009","130,593",31.1,"per 1,000"
4678,2019,Wisconsin,18-19 years,24.0,"1,835","130,593",31.1,"per 1,000"
4679,2019,Wyoming,18-19 years,39.2,268,"130,593",31.1,"per 1,000"

In [4]:
base = automap_base()
base

sqlalchemy.ext.automap.Base

In [11]:
base.prepare(engine_sqlite, reflect=True)

In [12]:
mapped_classes = base.metadata.tables.keys()
mapped_classes

dict_keys(['birth_rates'])

In [15]:
specific_table = base.metadata.tables['birth_rates']
specific_table

Table('birth_rates', MetaData(), Column('Year', BIGINT(), table=<birth_rates>), Column('State', TEXT(), table=<birth_rates>), Column('Age Group', TEXT(), table=<birth_rates>), Column('State Rate', FLOAT(), table=<birth_rates>), Column('State Births', TEXT(), table=<birth_rates>), Column('US Births', TEXT(), table=<birth_rates>), Column('US Birth Rate', FLOAT(), table=<birth_rates>), Column('Unit', TEXT(), table=<birth_rates>), schema=None)